{% extends 'login/base.html' %}
{% block title %}主页{% endblock %}
{% block css %}
    <style>
        /* body {background-image: url(/static/img/Smaterial/background.jpeg);} */
        tr:not(:first-child):hover{background-color: #dafdf3;}
    </style>
{% endblock %}
{% block navbar %}
    {% if request.session.is_login %}
        <ul class="nav navbar-nav">
            <li class="active"><a href="/index?name={{ request.session.user_name }}">首页</a></li>
            <li class="active"><a href="/insert">添加数据</a></li>
            <li class="active"><a href="/efficiency">效率查看</a></li>
            <li class="active"><a href="/performance">绩效</a></li>
            <li class="active"><a href="/waibao">外包数据</a></li>
        </ul>
    {% endif %}
{% endblock %}

{% block content %}
    {% if request.session.is_login %}
    <div id="div-btn-search" style="float: left; margin-top: -15px;">
        <ul class="nav navbar-nav">
            <li class="active" style="border-right: solid 1px black;">
                <button id="btn-sp" style="border:none" onclick="showp(window)">展示个人的数据</button>
            </li>
            <li class="active" style="border-right: solid 1px black;">
                <button id="btn-sa" style="border:none" onclick="showa(window)">展示所有人的数据</button>
            </li>
            <li class="active">
                <button id="btn-search" onclick="search()" style="border:none">搜索</button>
            </li>
        </ul>
           
    </div>
    <!-- searcch -->
    <div id="search" style="display: none;">
        <form class='form-register' action="/index/" method="post">
            {% csrf_token %}
            <table class="table">
                <tr>
                    <th>用户名</th>
                    <th>项目名字</th>
                    <th>时间</th>
                    <th style="text-align: center;">按钮</th>
                </tr>
                <tr>
                    <td>
                        <select class="form-control" name="uname">
                            <option value ="---">---</option>
                            <option value ="郭卫焘">郭卫焘</option>
                            <option value ="韩波">韩波</option>
                            <option value="张永娇">张永娇</option>
                            <option value="高波">高波</option>
                        </select>
                    </td>
                    <td>
                        <select class="form-control" name="pname">
                            <option value ="---">---</option>
                            <option value ="杂物">杂物</option>
                            <option value ="脏污">脏污</option>
                            <option value="行人扶梯一米栏">行人扶梯一米栏</option>
                            <option value="红绿灯">红绿灯</option>
                            <option value="S线数据">S线数据</option>
                            <option value="室内可通行">室内可通行</option>
                            <option value="75车库车辆行人">75车库车辆行人</option>
                            <option value="111室外车辆行人">111室外车辆行人</option>
                        </select>
                    </td>
                    <td><input type="date" name="dtime" class="form-control" id="sriqi"></td>
                    <td>
                        <input type="reset" class="btn btn-default pull-left" value="重置">
                        <input type="submit" class="btn btn-primary pull-right" value="提交">
                    </td>
                </tr>
            </table>
        </form>
    </div>
     <!-- show -->
        <table class="table">
            <tr>
                <th>用户名</th>
                <th>项目名字</th>
                <th>是否外包</th>
                <th>任务ID</th>
                <th>日期</th>
                <th>任务类型</th>
                <th>图片数量</th>
                <th>框数</th>
                <th>工时</th>
            </tr>
            {% for tasks in stus %}
            <tr>
                <td>{{ tasks.uname }}</td>
                <td>{{ tasks.pname }}</td>
                <td>{{ tasks.waibao }}</td>
                {% if tasks.waibao == '否' %}
                <td>#{{ tasks.task_id }}</td>
                {% else %}
                <td>{{ tasks.task_id }}</td>
                {% endif %}
                <td>{{ tasks.dtime }}</td>
                <td>{{ tasks.kinds }}</td>
                <td>{{ tasks.pnums }}</td>
                <td>{{ tasks.knums }}</td>
                <td>{{ tasks.ptimes }}</td>
            </tr>
            {% endfor %}
        </table>
            <div class="container">
                {% if stus.has_previous %}
                    <a href="/index?page_id={{stus.previous_page_number}}">
                        <button><<</button>
                    </a>
                {% endif %}
                
                {% for i in page.page_range %}
                    <a href="/index?page_id={{i}}">
                        <button>{{ i }}</button>
                    </a>
                {% endfor %}
                
                {% if stus.has_next %}
                    <a href="/index?page_id={{stus.next_page_number}}">
                        <button> &nbsp;>>&nbsp; </button>
                    </a>
                {% endif %}
                </div>
    {% else %}
        <h3>你尚未登录,请先登录！</h3>
    {% endif %}
<script type="text/javascript">
    // 搜索之日期组件默认为当天日期
    function search(){
        if ($('#search').css('display') == 'none'){
            $('#search').css("display","block");
            
            var mydateInput = document.getElementById("sriqi");
            var now = new Date();
            var day = ('0' + now.getDate()).slice(-2);
            var month = ('0' + (now.getMonth() + 1)).slice(-2);
            var today = now.getFullYear() + '-' + (month)+ '-' + (day);
            mydateInput.value = today;
        }
        else {
            $('#search').css("display","none");
        };
        if ($('#ginsert').css('display') == 'block'){
            $('#ginsert').css("display","none");
        };
    };

    //showp
    function showp(windows){
        windows.location.href="/index?showp=" + $('#id_name').text()
    };
    //showa
    function showa(windows){
        windows.location.href="/index?showa=all"
    };
</script>
{% endblock %}
