* {
    padding: 0;
    margin: 0;
    cursor: url("../img/mouse.png"),default;
}

/* 滚动条 */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: #00000000;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(60, 60, 67, 0.4);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(68,147,199);
}

::-webkit-scrollbar-thumb:active {
    background-color: rgb(68,147,199);
}

/* 导航栏 */
.navbar-header img {
    width: 50px;
    height: 50px;
}

#my-nav ul:first-child {
    margin-left: 10px;
}

#my-nav ul:first-child li {
    border-right: 2px solid #fff;
}

#my-nav ul:first-child li:last-child {
    border-right: none;
}

#my-nav ul:first-child li a {
    font-size: 18px;
}

#my-nav ul:first-child li a:hover {
    background-color: rgb(68, 147, 199);
    color: white;
}

/* 导航栏结束 */


#body-div {
    width: 100%;
    height: 94.4%;
    position: absolute;
    top: 52px;
    /* border: 1px solid red; */
}

/* 侧边栏 */
#left {
    height: 100%;
    float: left;
    background-color: rgb(3, 73, 120);
}


#left {
    display: flex;
    width: 150px;
    flex-direction: column;
    flex-wrap: wrap;
    color: rgb(212, 209, 209);
}

#left label {
    padding: 15px 0 15px 20px;
    /* background-color: #fff; */
}

#left label:first-child {
    margin-top: 15px;
}

#left label:hover {
    color: #fff;
    background-color: rgb(0, 60, 100);
}

#left label span {
    margin-left: 10px;
}

#left p {
    display: block;
    position: absolute;
    bottom: 0;
    margin-left: 10px;
    font-size: 16px;
}

#right {
    position: absolute;
    left: 150px;
    width: 92.17%;
    height: 100%;
    float: left;
    overflow: auto;
    overflow-x: hidden;
}