<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" rel="external nofollow" href="/static/img/favicon.ico" />
    <link rel="stylesheet" href="/static/lib/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/lib/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/index1.css">
    <script src="/static/lib/jquery/2.1.4/jquery.min.js"></script>
    <script src="/static/lib/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="/static/lib/layui-v2.7.6/layui/css/layui.css" rel="stylesheet">
    <script src="/static/lib/layui-v2.7.6/layui/layui.js"></script>
    <title>定时任务</title>
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top" onselectstart="return false">
        <!--onselectstrat 禁止选中-->
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#my-nav"
                    aria-expanded="false">
                    <span class="sr-only">切换导航条</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- <a class="navbar-brand" style="cursor:default;"> -->
                <img src="/static/img/logo_ess.png" alt="ESS" draggable="false">
                <!-- </a> -->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="my-nav">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/index">首页</a></li>
                    <li class="active"><a href="/waibao" style="color: #fff; background-color: rgb(68, 147, 199);">外包数据</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li style="border-right: 1px solid #bdbdbd; margin-right: 20px; cursor: pointer;"><a
                            onclick="help()">
                            <i class="fa fa-hand-o-right" style="margin-right: 5px; font-size: 18px;"></i>
                            <span style="font-size: 18px;">Help</span></a>
                    </li>
                    <li role="presentation" class="dropdown" style="width: 139px;">
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            style="text-align: center;">
                            <i class="fa fa-user" style="margin-left: -30px; font-size: 18px;"></i>
                            <span style="font-size: 18px; margin-left: 5px;" id="name"></span>
                            <span class="caret" style="margin-left: 10px;"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li style="border-bottom: 1px solid gray;" id="nav_setting">
                                <a href="/sites/" target="black">
                                    <i class="fa fa-gear"></i>
                                    <span style="margin-left: 10px;">设置</span>
                                </a>
                            </li>
                            <li style="border-bottom: 1px solid gray;" onclick="info()">
                                <a>
                                    <i class="fa fa-info-circle"></i>
                                    <span style="margin-left: 10px;">关于</span>
                                </a>
                            </li>
                            <li onclick="logout()">
                                <a>
                                    <i class="fa fa-sign-out"></i>
                                    <span style="margin-left: 10px;">注销</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div>
        <div class="alert alert-danger hide" id="alert_div"
            style="width: 300px; position: fixed; top: 40%;left: 45%; right: 50%;z-index: 1; font-size: 22px;">
        </div><!-- 弹窗告警 -->
        <!-- 顶部的工具栏 -->
        <script type="text/html" id="toolbar">
            <button class="layui-btn layui-btn-sm" lay-event="getData"><i class="fa fa-plus-square" aria-hidden="true"></i>&nbsp;&nbsp;添加任务</button>
        </script>
        <!--工具栏(每行)-->
        <script type="text/html" id="barDemo">
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="fa fa-remove"></i> 删除</a>
        </script>
        <!-- 定时任务 -->
        <div style="margin-top: 50px;">
            <table class="table layui-hide table-bordered" id="job_task_add" lay-filter="job_task_add"></table>
        </div>
        <!-- 定时任务日志 -->
        <div>
            <table class="table layui-hide table-bordered" id="job_log_table" lay-filter="job_log_table"></table>
        </div>
        <!-- 弹窗之ESS-Info -->
        <div class="modal fade" tabindex="-1" role="dialog" id="ess_info" style="margin: 200px 0 0 500px; ">
            <div class="modal-dialog" role="document">
                <div class="modal-content  modal-sm">
                    <div class="modal-header">
                        <h3 class="modal-title" style="color: rgb(68, 147, 199);">
                            <i class="fa fa-info-circle"></i> ESS-INFO
                        </h3>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <p>
                                ESS 是一款统计性的功能平台<br>
                                主要有记录个人平时的工作内容，工作量，工作效率，绩效等<br>
                                也可以统计给供应商发送的数据量，各供应商在每个项目上所用的费用等
                            </p>
                        </div>
                        <div class="form-group">
                            <p>
                                <span class="ant-typography"><strong>Font-Awesome version:</strong></span>
                                <span class="ant-typography ant-typography-secondary"> 4.7.0</span>
                            </p>
                        </div>
                        <div class="form-group">
                            <p>
                                <span class="ant-typography"><strong>Echarts version:</strong></span>
                                <span class="ant-typography ant-typography-secondary"> 5.4.1</span>
                            </p>
                        </div>
                        <div class="form-group">
                            <p>
                                <span class="ant-typography"><strong>Pyecharts version:</strong></span>
                                <span class="ant-typography ant-typography-secondary"> 2.0.1</span>
                            </p>
                        </div>
                        <div class="form-group">
                            <p>
                                <span class="ant-typography"><strong>Bootstrap version:</strong></span>
                                <span class="ant-typography ant-typography-secondary"> 3.4.1</span>
                            </p>
                        </div>
                        <div class="form-group">
                            <p>
                                <span class="ant-typography"><strong>jQuery version:</strong></span>
                                <span class="ant-typography ant-typography-secondary"> 2.1.4</span>
                            </p>
                        </div>
                        <div class="form-group">
                            <p>
                                <span class="ant-typography"><strong>Layui version:</strong></span>
                                <span class="ant-typography ant-typography-secondary"> 2.7.6</span>
                            </p>
                        </div>
                        <div class="form-group">
                            <p>
                                <span class="ant-typography"><strong>Django version:</strong></span>
                                <span class="ant-typography ant-typography-secondary"> 3.2.14</span>
                            </p>
                        </div>
                        <div class="modal-footer">
                            <a href="https://github.com/gwt805/myess/tree/master" target="_blank"
                                style="position: absolute; left: 20px;"><i class="fa fa-github-square fa-2x"></i></a>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                style="color: blue;">
                                <span aria-hidden="true">OK</span>
                            </button>
                        </div>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <!-- 弹窗之添加定时任务 -->
        <div class="modal fade" tabindex="-1" role="dialog" id="cronjobadd" style="margin: 200px 0 0 500px; ">
            <div class="modal-dialog" role="document">
                <div class="modal-content  modal-sm">
                    <div class="modal-header">
                        <h3 class="modal-title" style="color: rgb(68, 147, 199); text-align: center;">
                            添加定时任务
                        </h3>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-danger" id="err_msg" style="display: none;"></div>
                        <div class="alert alert-danger">
                            <label>都不填 默认为每天 零点
                        </div>
                        <div class="form-group">
                            <p>
                                <label for="time">每周的第几天执行(0-6 即 周一 ~ 周日)</label>
                                <input type="number" class="form-control" name="time" id="time" min="0" max="6" onfocus="clean_cronjob_warning()">
                            </p>
                        </div>
                        <div class="form-group">
                            <p>
                                <label for="hour">开始执行时间(小时: 0-23)</label>
                                <input type="number" class="form-control" name="hour" id="hour" min="0" max="24" onfocus="clean_cronjob_warning()">
                            </p>
                        </div>
                        <div class="form-group">
                            <p>
                                <label for="minute">开始执行时间(分钟: 0-59)</label>
                                <input type="number" class="form-control" name="minute" id="minute" min="0" max="59" onfocus="clean_cronjob_warning()">
                            </p>
                        </div>
                        <div class="form-group">
                            <p>
                                <label for="second">开始执行时间(秒: 0-59)</label>
                                <input type="number" class="form-control" name="second" id="second" min="0" max="59" onfocus="clean_cronjob_warning()">
                            </p>
                        </div>
                        <div class="modal-footer" style="display: flex; justify-self: center;">
                            <button type="button" class="btn btn-default" data-dismiss="modal" style="width: 50%;"
                                id="btn-miss">取消</button>
                            <button type="button" class="btn btn-primary" style="width: 50%;"
                                onclick="addjob()">确认</button>
                        </div>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
</body>

<script src="/static/js/disable.js"></script>
<script src="/static/js/click_yh.js"></script>
<script>
    const data = JSON.parse('{{ data|safe }}');
    const job_task = JSON.parse('{{ job_task|safe }}');
    
    // 表格渲染
    const table = layui.table;
    // 定时任务的添加渲染
    table.render({//渲染table
        data: job_task,
        elem: '#job_task_add',         //设置容器
        toolbar: "#toolbar",    // 工具栏
        height: 'full-750',    //高度为屏幕高度-20
        skin: 'row', //表格风格
        even: true,    //隔行换色
        cols: [[               //设置列标签、标题、宽度、是否排序等
            { field: 'id', title: 'ID' },
            { field: 'time', title: '下次执行时间' },
            { fixed: 'right', title: '操作', toolbar: '#barDemo' },//设置每行的工具栏以及其容器
        ]],
    });

    table.render({//渲染table
        data: data,
        elem: '#job_log_table',         //设置容器
        height: 'full-260',    //高度为屏幕高度-20
        page: true,
        limit: 20,
        limits: [20, 50, 100],
        skin: 'row', //表格风格
        even: true,    //隔行换色
        cols: [[               //设置列标签、标题、宽度、是否排序等
            { field: 'id', title: 'ID' },
            { field: 'status', title: 'status' },
            { field: 'run_time', title: 'run_time', },
            { field: 'duration', title: 'duration', },
            { field: 'finished', title: "finished", },
            { field: 'exception', title: "exception", },
            { field: 'traceback', title: "traceback", },
            { field: 'job_id', title: "job_id", },
        ]],
    });
    // 操作栏-编辑/删除
    table.on('tool(job_task_add)', function (obj) { // 双击 toolDouble
        var data = obj.data;
        // console.log(obj.data)
        if (obj.event === 'del') {
            if (sessionStorage.getItem("power") != '1') {
                $(".alert-danger").html("您没有删除数据权限!");
                $(".alert-danger").addClass("show");
                window.setTimeout(function () {
                    $(".alert-danger").removeClass("show");
                }, 1000);//显示的时间
            }
            else {
                layer.confirm('真的删除定时任务么', function (index) {
                    $.ajax("/job_del/", {
                        method: "DEL",
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        data: {
                            id: obj.data.id
                        },
                    }).done(function (res) {
                        if (res && res.data == "successful") {
                            $(".alert-danger").html("ID: " + obj.data.id + " 删除成功!");
                            $(".alert-danger").addClass("show");
                            window.setTimeout(function () {
                                $(".alert-danger").removeClass("show");
                                window.location.reload();
                            }, 1000);//显示的时间
                        }
                        else {
                            $(".alert-danger").html("ID: " + obj.data.id + " 删除失败!");
                            $(".alert-danger").addClass("show");
                            window.setTimeout(function () {
                                $(".alert-danger").removeClass("show");
                            }, 1000);//显示的时间
                        }
                    });
                    layer.close(index);
                });
            }
        }
    });
    // 工具栏事件
    table.on('toolbar(job_task_add)', function(obj){
        var id = obj.config.id;
        if (obj.event == 'getData'){
            var getData = table.getData(id);
            const table_data = layui.util.escape(JSON.stringify(getData))
            if (table_data === '[]') {
                $('#cronjobadd').modal('show');
            }
            else {
                $(".alert-danger").html("定时任务已经存在, 不允许重复添加!");
                $(".alert-danger").addClass("show");
                window.setTimeout(function () {
                    $(".alert-danger").removeClass("show");
                }, 2000);//显示的时间
            }
        }
    });

    // 定时任务告警
    function add_cronjob_warning(msg) {
        $("#err_msg").html(msg);
        $("#err_msg").css("display","block");
    }
    function clean_cronjob_warning() {
        $("#err_msg").css("display","none");
    }
    // 添加定时任务
    function addjob() {
        const week = Number($("#time").val());
        const hour = Number($("#hour").val());
        const minute = Number($("#minute").val());
        const second = Number($("#second").val());
        let add_cronjob_flag = false;
        if ($("#time").val() == "" || $("#hour").val() == "" ||  $("#minute").val() == "" || $("#second").val() == "") {
            add_cronjob_flag = false;
            add_cronjob_warning("参数不允许为空!");
        }
        else {
            // 星期
            if (week < 0 || week > 6) {
                add_cronjob_flag = false;
                add_cronjob_warning("每周不可能有 小于0 大于7 天");
            }
            else {
                // 小时
                if (hour < 0 || hour > 23 ) {
                    add_cronjob_flag = false;
                    add_cronjob_warning("小时不可能 小于0 大于23");
                }
                else {
                    // 分钟
                    if (minute < 0 || minute > 59 || second < 0 || second > 59) {
                        add_cronjob_flag = false;
                        add_cronjob_warning("分钟/秒 不可能 小于0 大于59");
                    }
                    else {
                        add_cronjob_flag = true;
                    }
                }
            }
        }
        // 添加
        if (add_cronjob_flag) {
            $.ajax("/job_add/", {
                method: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: {
                    week: week,
                    hour: hour,
                    minute: minute,
                    second: second
                },
            }).done(function (res) {
                if (res && res.status == "successful") {
                    $("#btn-miss").click();
                    $(".alert-danger").html("定时任务添加成功!");
                    $(".alert-danger").addClass("show");
                    window.setTimeout(function () {
                        $(".alert-danger").removeClass("show");
                        window.location.reload();
                    }, 1000);//显示的时间
                }
                else {
                    $("#err_msg").css("display", 'block');
                    $("#err_msg").html(res.mes);
                }
            });
        }
    }
    // Help
    function help() {
        $(".alert-danger").html("请联系卫龙!");
        $(".alert-danger").addClass("show");
        window.setTimeout(function () {
            $(".alert-danger").removeClass("show");
        }, 1000);//显示的时间
    };
    // setting
    if (sessionStorage.getItem("power") != '1'){
        $("#nav_setting").css('display', 'none')
    }
    else {
        $("#nav_setting").css('display', 'block')
    }
    // 关于
    function info() {
        $('#ess_info').modal('show');
    }
    // 退出登录
    function logout() {
        sessionStorage.setItem("isLogin", "");
        sessionStorage.setItem("zhuname", "");
        sessionStorage.setItem("power", "");
        window.location.href = '/login'
    }
</script>

</html>