<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" rel="external nofollow" href="/static/img/favicon.ico"/>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/jianli.css">
    <link rel="stylesheet" href="/static/css/timeline.css">
    <title>更新记录</title>
  </head>
  <body>
    <div class="col-md-12">
      <div class="row">
        <div class="timeline timeline-line-dotted">
          <!-- ===================================================================================== -->
          <span class="timeline-label">
            <span class="label label-primary">2023-10-02</span>
          </span>
          <div class="timeline-item">
            <div class="timeline-point timeline-point-success">
              <i class="fa fa-money"></i>
            </div>
            <div class="timeline-event">
              <div class="timeline-body">
                <p>1. 外包栏 --> 支持视频结算方式</p>
                <p>2. 强制禁用开发者工具</p>
                <p>3. 软禁用缩放功能</p>
              </div>
              <div class="timeline-footer">
                <p class="text-right"><b>ESS</b></p>
              </div>
            </div>
          </div>
          <!-- ===================================================================================== -->
          <span class="timeline-label">
            <span class="label label-primary">2023-05-11</span>
          </span>
          <div class="timeline-item">
            <div class="timeline-point timeline-point-success">
              <i class="fa fa-money"></i>
            </div>
            <div class="timeline-event">
              <div class="timeline-body">
                <p>1. 添加 ESS 和 Snorlax 映射关系</p>
                <p>2. 修改注册时，邮箱后缀固定</p>
              </div>
              <div class="timeline-footer">
                <p class="text-right"><b>ESS</b></p>
              </div>
            </div>
          </div>
          <!-- ===================================================================================== -->
          <span class="timeline-label">
            <span class="label label-primary">2023-04-28</span>
          </span>
          <div class="timeline-item">
            <div class="timeline-point timeline-point-success">
              <i class="fa fa-money"></i>
            </div>
            <div class="timeline-event">
              <div class="timeline-body">
                <p>1. 添加 anno_task_id 字段, 和工具链中的 创建标注任务的ID 对应</p>
                <p>2. 监听kafka消息, 创建送标记录</p>
                <p>3. 修改导航栏中的 Help 提示样式</p>
              </div>
              <div class="timeline-footer">
                <p class="text-right"><b>ESS</b></p>
              </div>
            </div>
          </div>
           <!-- ===================================================================================== -->
           <span class="timeline-label">
            <span class="label label-primary">2023-04-25</span>
          </span>
          <div class="timeline-item">
            <div class="timeline-point timeline-point-success">
              <i class="fa fa-money"></i>
            </div>
            <div class="timeline-event">
              <div class="timeline-body">
                <p>1. 支持跨域访问</p>
              </div>
              <div class="timeline-footer">
                <p class="text-right"><b>ESS</b></p>
              </div>
            </div>
          </div>
          <!-- ===================================================================================== -->
          <span class="timeline-label">
            <span class="label label-primary">2023-03-03</span>
          </span>
          <div class="timeline-item">
            <div class="timeline-point timeline-point-success">
              <i class="fa fa-money"></i>
            </div>
            <div class="timeline-event">
              <div class="timeline-body">
                <p>1. 优化登录策略</p>
              </div>
              <div class="timeline-footer">
                <p class="text-right"><b>ESS</b></p>
              </div>
            </div>
          </div>
          <!-- ===================================================================================== -->
          <span class="timeline-label">
            <span class="label label-primary">2023-02-16</span>
          </span>
          <div class="timeline-item">
            <div class="timeline-point timeline-point-success">
              <i class="fa fa-money"></i>
            </div>
            <div class="timeline-event">
              <div class="timeline-body">
                <p>1. 侧边栏添加更新记录</p>
              </div>
              <div class="timeline-footer">
                <p class="text-right"><b>ESS</b></p>
              </div>
            </div>
          </div>
          <!-- ===================================================================================== -->
          <span class="timeline-label">
            <span class="label label-primary">2023-02-15</span>
          </span>
          <div class="timeline-item">
            <div class="timeline-point timeline-point-success">
              <i class="fa fa-money"></i>
            </div>
            <div class="timeline-event">
              <div class="timeline-body">
                <p>1. 添加数据标注预算展示页面及后端逻辑</p>
                <p>2. 侧边栏优化</p>
                <p>3. 点击表格行高亮优化</p>
              </div>
              <div class="timeline-footer">
                <p class="text-right"><b>ESS</b></p>
              </div>
            </div>
          </div>
          <!-- ===================================================================================== -->
          <span class="timeline-label">
            <span class="label label-primary">2023-02-10</span>
          </span>
          <div class="timeline-item">
            <div class="timeline-point timeline-point-success">
              <i class="fa fa-money"></i>
            </div>
            <div class="timeline-event">
              <div class="timeline-body">
                <p>1. 修复数据不能正常导出问题</p>
                <p>2. 外包栏 图表根据数据 发送时间/交付时间 展示</p>
              </div>
              <div class="timeline-footer">
                <p class="text-right"><b>ESS</b></p>
              </div>
            </div>
          </div>
          <!-- ===================================================================================== -->
          <span class="timeline-label">
            <span class="label label-primary">2023-02-09</span>
          </span>
          <div class="timeline-item">
            <div class="timeline-point timeline-point-success">
              <i class="fa fa-money"></i>
            </div>
            <div class="timeline-event">
              <div class="timeline-body">
                <p>1. 弃用钉钉消息通知</p>
                <p>2. 外包栏 图表计算按照交付时间来展示</p>
                <p>3. 首页和外包栏 默认展示当前年份的所有数据</p>
                <p>4. 外包栏添加 交付时间范围搜索</p>
              </div>
              <div class="timeline-footer">
                <p class="text-right"><b>ESS</b></p>
              </div>
            </div>
          </div>
          <!-- ===================================================================================== -->
          <span class="timeline-label">
            <span class="label label-primary">2023-02-08</span>
          </span>
          <div class="timeline-item">
            <div class="timeline-point timeline-point-success">
              <i class="fa fa-money"></i>
            </div>
            <div class="timeline-event">
              <div class="timeline-body">
                <p>1. 饼图之金额 的title 显示 总金额</p>
                <p>2. 添加消息通知 -> 企业微信</p>
              </div>
              <div class="timeline-footer">
                <p class="text-right"><b>ESS</b></p>
              </div>
            </div>
          </div>
          <!-- ===================================================================================== -->
          <span class="timeline-label">
            <span class="label label-primary">2023-02-07</span>
          </span>
          <div class="timeline-item">
            <div class="timeline-point timeline-point-success">
              <i class="fa fa-money"></i>
            </div>
            <div class="timeline-event">
              <div class="timeline-body">
                <p>1. 图表的 title 精确化</p>
                <p>2. 定时任务优化</p>
                <p>3. 首页 -> 团队效率 UI 和 后端逻辑优化</p>
              </div>
              <div class="timeline-footer">
                <p class="text-right"><b>ESS</b></p>
              </div>
            </div>
          </div>
          <!-- ===================================================================================== -->
          <span class="timeline-label">
            <span class="label label-primary">2023-02-03</span>
          </span>
          <div class="timeline-item">
            <div class="timeline-point timeline-point-success">
              <i class="fa fa-money"></i>
            </div>
            <div class="timeline-event">
              <div class="timeline-body">
                <p>1. 修改ESS INFO 显示样式</p>
                <p>2. 修改滚动条 x&y 轴的样式</p>
                <p>3. echarts 动态调整窗口</p>
                <p>4. 修复首页添加数据不返回当天个人所有数据</p>
              </div>
              <div class="timeline-footer">
                <p class="text-right"><b>ESS</b></p>
              </div>
            </div>
          </div>
          <!-- ===================================================================================== -->
          <span class="timeline-label">
            <span class="label label-primary">2023-02-02</span>
          </span>
          <div class="timeline-item">
            <div class="timeline-point timeline-point-success">
              <i class="fa fa-money"></i>
            </div>
            <div class="timeline-event">
              <div class="timeline-body">
                <p>1. 动态添加结算方式等，可删除指定行(首行除外)</p>
                <p>2. table 点击指定行，该行高亮显示</p>
              </div>
              <div class="timeline-footer">
                <p class="text-right"><b>ESS</b></p>
              </div>
            </div>
          </div>
          <!-- ===================================================================================== -->
          <span class="timeline-label">
            <span class="label label-primary">2023-01-31</span>
          </span>
          <div class="timeline-item">
            <div class="timeline-point timeline-point-success">
              <i class="fa fa-money"></i>
            </div>
            <div class="timeline-event">
              <div class="timeline-body">
                <p>1. 用户信息新增 部门/组</p>
                <p>2. 把原来首页中图表的展示美化</p>
                <p>3. 修改供应商页面表格展示样式</p>
                <p>4. 单元格内容过多,原来需点击然后弹出内容, 现在只需鼠标滑动滑轮</p>
              </div>
              <div class="timeline-footer">
                <p class="text-right"><b>ESS</b></p>
              </div>
            </div>
          </div>
          <!-- ===================================================================================== -->
          <span class="timeline-label">
            <span class="label label-primary">2023-01-30</span>
          </span>
          <div class="timeline-item">
            <div class="timeline-point timeline-point-success">
              <i class="fa fa-money"></i>
            </div>
            <div class="timeline-event">
              <div class="timeline-body">
                <p>1. 定时任务执行时间修改</p>
                <p>2. 每天执行改成每周执行</p>
              </div>
              <div class="timeline-footer">
                <p class="text-right"><b>ESS</b></p>
              </div>
            </div>
          </div>
          <!-- ===================================================================================== -->
          <span class="timeline-label">
            <span class="label label-primary">2023-01-20</span>
          </span>
          <div class="timeline-item">
            <div class="timeline-point timeline-point-success">
              <i class="fa fa-money"></i>
            </div>
            <div class="timeline-event">
              <div class="timeline-body">
                <p>1. 外包栏添加当前表格中的所有数据导出功能</p>
                <p>2. 右侧的导出为 仅导出当前页的数据</p>
              </div>
              <div class="timeline-footer">
                <p class="text-right"><b>ESS</b></p>
              </div>
            </div>
          </div>
          <!-- ===================================================================================== -->
          <span class="timeline-label">
            <span class="label label-primary">2023-01-19</span>
          </span>
          <div class="timeline-item">
            <div class="timeline-point timeline-point-success">
              <i class="fa fa-money"></i>
            </div>
            <div class="timeline-event">
              <div class="timeline-body">
                <p>1. 添加 修改数据时 提示修改数据的ID为多少</p>
                <p>2. About 内容新增</p>
                <p>3. 只有管理员账号才能看见 Setting</p>
                <p>4. 定时任务执行日志只展示正常执行的，异常的任务需要到后台去看</p>
                <p>5. 取消修改密码功能</p>
              </div>
              <div class="timeline-footer">
                <p class="text-right"><b>ESS</b></p>
              </div>
            </div>
          </div>
          <!-- ===================================================================================== -->
          <span class="timeline-label">
            <span class="label label-primary">2023-01-18</span>
          </span>
          <div class="timeline-item">
            <div class="timeline-point timeline-point-success">
              <i class="fa fa-money"></i>
            </div>
            <div class="timeline-event">
              <div class="timeline-body">
                <p>1. 图表添加搜索功能(供应商 & 时间范围)</p>
                <p>2. 完成钉钉每日自动发送本地图表功能</p>
                <p>3. 修复折线图显示不正确的问题</p>
                <p>4. 图表搜索样式调整</p>
              </div>
              <div class="timeline-footer">
                <p class="text-right"><b>ESS</b></p>
              </div>
            </div>
          </div>
          <!-- ===================================================================================== -->
          <span class="timeline-label">
            <span class="label label-primary">2023-01-16</span>
          </span>
          <div class="timeline-item">
            <div class="timeline-point timeline-point-success">
              <i class="fa fa-money"></i>
            </div>
            <div class="timeline-event">
              <div class="timeline-body">
                <p>1. 添加 是否是首次标注</p>
                <p>2. 添加定时任务壳子，后面将设置钉钉图表每日自动发送</p>
                <p>3. 修复 添加新数据 图表没有正常工作的bug</p>
              </div>
              <div class="timeline-footer">
                <p class="text-right"><b>ESS</b></p>
              </div>
            </div>
          </div>
          <!-- ===================================================================================== -->
          <span class="timeline-label">
            <span class="label label-primary">2023-01-14</span>
          </span>
          <div class="timeline-item">
            <div class="timeline-point timeline-point-success">
              <i class="fa fa-money"></i>
            </div>
            <div class="timeline-event">
              <div class="timeline-body">
                <p>1. 把原来的图表样式和逻辑做了更改</p>
              </div>
              <div class="timeline-footer">
                <p class="text-right"><b>ESS</b></p>
              </div>
            </div>
          </div>
          <!-- ===================================================================================== -->
          <span class="timeline-label">
            <span class="label label-primary">2023-01-13</span>
          </span>
          <div class="timeline-item">
            <div class="timeline-point timeline-point-success">
              <i class="fa fa-money"></i>
            </div>
            <div class="timeline-event">
              <div class="timeline-body">
                <p>1. 修复数据添加后，修改框数等为 None 的问题</p>
                <p>2. 修复每次修改数据后，钉钉通知用户名为该条数据记录中的用户名问题</p>
                <p>3. 添加送标批次 来方便 验收和研发 明确修改目标是哪个</p>
              </div>
              <div class="timeline-footer">
                <p class="text-right"><b>ESS</b></p>
              </div>
            </div>
          </div>
          <!-- ===================================================================================== -->
          <span class="timeline-label">
            <span class="label label-primary">2023-01-12</span>
          </span>
          <div class="timeline-item">
            <div class="timeline-point timeline-point-success">
              <i class="fa fa-money"></i>
            </div>
            <div class="timeline-event">
              <div class="timeline-body">
                <p>1. 将原有外包栏功能更改为数据送标统计通能</p>
              </div>
              <div class="timeline-footer">
                <p class="text-right"><b>ESS</b></p>
              </div>
            </div>
          </div>
          <!-- ===================================================================================== -->
          <span class="timeline-label">
            <span class="label label-primary">2023-01-05</span>
          </span>
          <div class="timeline-item">
            <div class="timeline-point timeline-point-success">
              <i class="fa fa-money"></i>
            </div>
            <div class="timeline-event">
              <div class="timeline-body">
                <p>1. 修复项目名字中有 '&' 检索不出来的问题</p>
              </div>
              <div class="timeline-footer">
                <p class="text-right"><b>ESS</b></p>
              </div>
            </div>
          </div>
          <!-- ===================================================================================== -->
          <span class="timeline-label">
            <span class="label label-primary">2022-12-23</span>
          </span>
          <div class="timeline-item">
            <div class="timeline-point timeline-point-success">
              <i class="fa fa-money"></i>
            </div>
            <div class="timeline-event">
              <div class="timeline-body">
                <p>1. 添加 ESS INFO (用户名 --> 关于)</p>
                <p>2. help 的弹窗改为自动消失</p>
                <p>3. 登录界面 支持 '回车键' 登录</p>
                <p>4. Admin 页面支持多条件搜索，条件与条件之间用 空格 隔开</p>
                <p>5. 修改数据不用再跳转页面</p>
                <p>6. 绩效页面展示优化</p>
              </div>
              <div class="timeline-footer">
                <p class="text-right"><b>ESS</b></p>
              </div>
            </div>
          </div>
          <!-- ===================================================================================== -->
          <span class="timeline-label">
            <span class="label label-primary">2022-12-22</span>
          </span>
          <div class="timeline-item">
            <div class="timeline-point timeline-point-success">
              <i class="fa fa-money"></i>
            </div>
            <div class="timeline-event">
              <div class="timeline-body">
                <p>1. 切换鼠标样式(有鼠标点击效果[长按/拖动])</p>
                <p>2. 将内部数据和供应商数据表格换种框架展示</p>
                <p>3. 内部数据默认只展示最近<font color="red"><b>一个月的数据</b></font></p>
                <p>4. 供应商数据默认只展示最近<font color="red"><b>一年的数据</b></font></p>
                <p>5. 用Ajax 进行增删改查等操作，减少页面刷新</p>
                <p>6. 表格的列宽可以自由拖动</p>
                <p>7. 简单处理权限机制</p>
              </div>
              <div class="timeline-footer">
                <p class="text-right"><b>ESS</b></p>
              </div>
            </div>
          </div>
          <!-- ===================================================================================== -->
          <span class="timeline-label">
            <span class="label label-primary">2022-12-12</span>
          </span>
          <div class="timeline-item">
            <div class="timeline-point timeline-point-success">
              <i class="fa fa-money"></i>
            </div>
            <div class="timeline-event">
              <div class="timeline-body">
                <p>1. 更换logo</p>
                <p>2. 几个页面稍作美化</p>
                <p>3. 注册账号/修改密码 会有邮件通知</p>
                <p>4. 添加/修改/删除数据的通知任务 放后台执行</p>
                <p>5. 将数据库密码, wc_robot, webhook等 通过配置文件获取</p>
              </div>
              <div class="timeline-footer">
                <p class="text-right"><b>ESS</b></p>
              </div>
            </div>
          </div>
          <!-- ========= 终止符 ========= -->
          <span class="timeline-label">
            <a href="#" class="btn btn-default" title="More...">
              <i class="fa fa-fw fa-history"></i>
            </a>
          </span>
        </div>
      </div>
    </div>
    <!-- col-md-12 end-->
  </body>
  <script src="/static/js/disable.js"></script>
  <script disable-devtool-auto src='https://cdn.jsdelivr.net/npm/disable-devtool' url='https://www.baidu.com/' timeOutUrl='https://www.baidu.com/'></script>
</html>
