<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" rel="external nofollow" href="/static/img/favicon.ico" />
    <link rel="stylesheet" href="/static/lib/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/lib/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/index1.css">
    <script src="/static/lib/jquery/2.1.4/jquery.min.js"></script>
    <script src="/static/lib/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="/static/lib/echarts.min.js"></script>
    <link href="/static/lib/layui-v2.7.6/layui/css/layui.css" rel="stylesheet">
    <script src="/static/lib/layui-v2.7.6/layui/layui.js"></script>
    <title>标注效率</title>
    <style>
        h3 {
            text-align: center;
        }
        .form-group {
            margin-left: 60px !important;
        }
        .layui-table th{
            font-weight: bold;
        }
        /* 鼠标指向表格时,奇数行背景颜色 */
        table tbody tr:hover {
            z-index: 1;
            background-color: rgb(184, 226, 243) !important;
        }
        #search_tab tr:hover {
            background-color: #fff !important;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top" onselectstart="return false">
        <!--onselectstrat 禁止选中-->
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#my-nav"
                    aria-expanded="false">
                    <span class="sr-only">切换导航条</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- <a class="navbar-brand" style="cursor:default;"> -->
                <img src="/static/img/logo_ess.png" alt="ESS" draggable="false">
                <!-- </a> -->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="my-nav">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/index" style="color: #fff; background-color: rgb(68, 147, 199);">首页</a></li>
                    <li class="active"><a href="/waibao">外包数据</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li style="border-right: 1px solid #bdbdbd; margin-right: 20px; cursor: pointer;"><a
                            onclick="help()">
                            <i class="fa fa-hand-o-right" style="margin-right: 5px; font-size: 18px;"></i>
                            <span style="font-size: 18px;">Help</span></a>
                    </li>
                    <li role="presentation" class="dropdown" style="width: 139px;">
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            style="text-align: center;">
                            <i class="fa fa-user" style="margin-left: -30px; font-size: 18px;"></i>
                            <span style="font-size: 18px; margin-left: 5px;" id="name"></span><span class="caret"
                                style="margin-left: 10px;"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li style="border-bottom: 1px solid gray;" id="nav_setting">
                                <a href="/sites/" target="black">
                                    <i class="fa fa-gear"></i>
                                    <span style="margin-left: 10px;">设置</span>
                                </a>
                            </li>
                            <li style="border-bottom: 1px solid gray;" onclick="info()">
                                <a>
                                    <i class="fa fa-info-circle"></i>
                                    <span style="margin-left: 10px;">关于</span>
                                </a>
                            </li>
                            <li onclick="logout()"><a><i class="fa fa-sign-out"></i><span
                                        style="margin-left: 10px;">注销</span></a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="alert alert-danger hide" id="alert_div"
        style="width: 300px; position: fixed; top: 40%;left: 45%; right: 50%;z-index: 1; font-size: 22px; text-align: center;">
    </div> <!-- 警告弹出框 -->
    <div id="eff_div" style="margin-top: 50px; position: fixed; overflow-y: auto; width: 100%; height: 95.5%;">
        <form action="/efficiency/" method="post">
            <table class="table" id="search_tab" style="width: 800px; margin: auto;">
                <tr>
                    <th style="width: 200px; text-align: center;">本周开始时间</th>
                    <th style="width: 200px; text-align: center;">本周结束时间</th>
                    <th style="width: 200px; text-align: center;">上周开始时间</th>
                    <th style="width: 200px; text-align: center;">上周结束时间</th>
                </tr>
                <td><input type="date" name="nbt" class="form-control" value="{{ nbt }}"></td>
                <td><input type="date" name="nlt" class="form-control" value="{{ nlt }}"></td>
                <td><input type="date" name="lbt" class="form-control" value="{{ lbt }}"></td>
                <td><input type="date" name="llt" class="form-control" value="{{ llt }}"></td>
                <td><button class="btn btn-primary" type="submit">查看</button></td>
            </table>
        </form>
        <h3>团队效率</h3>
        <table class="layui-hide" id="eff_team" lay-filter="eff_team"></table>
        <h3>个人效率</h3>
        {% for item in user_list %}
        <table class="layui-hide" id="{{ item }}" lay-filter="{{ item }}"></table>
        {% endfor %}
    </div>
    <!-- 弹窗之ESS-Info -->
    <div class="modal fade" tabindex="-1" role="dialog" id="ess_info">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" style="color: rgb(68, 147, 199);">
                        <i class="fa fa-info-circle"></i> ESS-INFO
                    </h3>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <p>
                            ESS 是一款统计性的功能平台<br>
                            主要有记录个人平时的工作内容，工作量，工作效率，绩效等<br>
                            也可以统计给供应商发送的数据量，各供应商在每个项目上所用的费用等
                        </p>
                    </div>
                    <div class="form-group">
                        <p>
                            <span class="ant-typography"><strong>Font-Awesome version:</strong></span>
                            <span class="ant-typography ant-typography-secondary"> 4.7.0</span>
                        </p>
                    </div>
                    <div class="form-group">
                        <p>
                            <span class="ant-typography"><strong>Echarts version:</strong></span>
                            <span class="ant-typography ant-typography-secondary"> 5.4.1</span>
                        </p>
                    </div>
                    <div class="form-group">
                        <p>
                            <span class="ant-typography"><strong>Pyecharts version:</strong></span>
                            <span class="ant-typography ant-typography-secondary"> 2.0.1</span>
                        </p>
                    </div>
                    <div class="form-group">
                        <p>
                            <span class="ant-typography"><strong>Bootstrap version:</strong></span>
                            <span class="ant-typography ant-typography-secondary"> 3.4.1</span>
                        </p>
                    </div>
                    <div class="form-group">
                        <p>
                            <span class="ant-typography"><strong>jQuery version:</strong></span>
                            <span class="ant-typography ant-typography-secondary"> 2.1.4</span>
                        </p>
                    </div>
                    <div class="form-group">
                        <p>
                            <span class="ant-typography"><strong>Layui version:</strong></span>
                            <span class="ant-typography ant-typography-secondary"> 2.7.6</span>
                        </p>
                    </div>
                    <div class="form-group">
                        <p>
                            <span class="ant-typography"><strong>Django version:</strong></span>
                            <span class="ant-typography ant-typography-secondary"> 3.2.14</span>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <a href="https://github.com/gwt805/myess/tree/master" target="_blank"
                            style="position: absolute; left: 20px;"><i
                                class="fa fa-github-square fa-2x" style="color: black;"></i></a>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                            style="color: blue;">
                            <span aria-hidden="true">OK</span>
                        </button>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</body>
<script src="/static/js/disable.js"></script>
<script src="/static/js/click_yh.js"></script>
<script>
    try{
        const status = JSON.parse('{{ status|safe}}');
        const eff_team = JSON.parse('{{ eff_team|safe }}');
        const user_list = JSON.parse('{{ user_list_json|safe }}');
        const eff_person = JSON.parse('{{ eff_person|safe }}');
        const table = layui.table;
        if (status == "successful"){
            $(".alert-danger").html("查询成功!");
            $(".alert-danger").addClass("show");
            $("#alert_div").css("background-color", 'rgb(21, 150, 90)');
            $("#alert_div").css("color", 'rgb(255, 255, 255)');
            window.setTimeout(function () {
                $(".alert-danger").removeClass("show");
            }, 1000);//显示的时间
            // 团队效率
            table.render({//渲染table
                    data: eff_team,
                    elem: '#eff_team',         //设置容器
                    page: true,
                    limit: 20,
                    limits: [20, 50, 100],
                    skin: 'row', //表格风格
                    even: true,    //隔行换色
                    cols: [[
                            { field: 'kinds', title: '任务类型', sort:true },
                            { field: 'pname', title: '项目名字', sort:true },
                            { field: 'pnums', title: '样本数量' },
                            { field: 'knums', title: '标注数量' },
                            { field: 'neff', title: '本周效率(帧|标注|时长/h)' },
                            { field: 'leff', title: '上周效率(帧|标注|时长/h)' },
                        ]],
                });
            // 个人效率
            for (var i = 0; i < user_list.length; i++){
                table.render({//渲染table
                    data: eff_person[i],     //数据获取url
                    elem: '#' + user_list[i],         //设置容器
                    page: true,
                    limit: 20,
                    limits: [20, 50, 100],
                    skin: 'row', //表格风格
                    even: true,    //隔行换色
                    cols: [[
                            { field: 'name', title: '用户名' },
                            { field: 'kinds', title: '任务类型', sort:true },
                            { field: 'pname', title: '项目名字', sort:true },
                            { field: 'pnums', title: '样本数量' },
                            { field: 'knums', title: '标注数量' },
                            { field: 'neff', title: '本周效率(帧|标注|时长/h)' },
                            { field: 'leff', title: '上周效率(帧|标注|时长/h)'}
                        ]],
                })
            }
        }
        else {
            $("#alert_div").css("background-color", 'rgb(242, 222, 222)');
            $("#alert_div").css("color", 'rgb(169, 68, 66)');
            $(".alert-danger").html("查询失败!");
            $(".alert-danger").addClass("show");
        }
    }
    catch{
        console.log("首次为空!");
    }
    
    function help() {
        $(".alert-danger").html("请联系卫龙!");
        $(".alert-danger").addClass("show");
        window.setTimeout(function () {
            $(".alert-danger").removeClass("show");
        }, 1000);//显示的时间
    };
    // setting
    if (window.localStorage.getItem("power") != '1'){
        $("#nav_setting").css('display', 'none')
    }
    else {
        $("#nav_setting").css('display', 'block')
    }
    // 关于
    function info() {
        $('#ess_info').modal('show');
    }
    
    function logout() {
        window.localStorage.removeItem("isLogin");
        window.localStorage.removeItem("zhuname");
        window.localStorage.removeItem("power");
        window.location.href = '/login'
    }
</script>

</html>