<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" rel="external nofollow" href="/static/img/favicon.ico" />
    <link rel="stylesheet" href="/static/lib/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/lib/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/index1.css">
    <script src="/static/lib/jquery/2.1.4/jquery.min.js"></script>
    <script src="/static/lib/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="/static/lib/echarts.min.js"></script>
    <title>个人绩效</title>
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top" onselectstart="return false">
        <!--onselectstrat 禁止选中-->
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#my-nav"
                    aria-expanded="false">
                    <span class="sr-only">切换导航条</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- <a class="navbar-brand" style="cursor:default;"> -->
                <img src="/static/img/logo_ess.png" alt="ESS" draggable="false">
                <!-- </a> -->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="my-nav">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/index">首页</a></li>
                    <li class="active"><a href="/efficiency">标注效率</a></li>
                    <li class="active"><a href="/performance"
                            style="color: #fff; background-color: rgb(68, 147, 199);">个人绩效</a></li>
                    <li class="active" onclick="navswitch('waibao')"><a>外包数据</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li style="border-right: 1px solid #bdbdbd; margin-right: 20px; cursor: pointer;"><a
                            onclick="help()">
                            <i class="fa fa-hand-o-right" style="margin-right: 5px; font-size: 18px;"></i>
                            <span style="font-size: 18px;">Help</span></a>
                    </li>
                    <li role="presentation" class="dropdown" style="width: 139px;">
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            style="text-align: center;">
                            <i class="fa fa-user" style="margin-left: -40px; font-size: 18px;"></i>
                            <span style="font-size: 18px; margin-left: 5px;" id="name"></span><span class="caret"
                                style="margin-left: 10px;"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li style="border-bottom: 1px solid gray;"><a href="/sites/" target="black"><i
                                        class="fa fa-gear"></i><span style="margin-left: 10px;">设置</span></a></li>
                            <li style="border-bottom: 1px solid gray;"><a href="#" onclick="pwd_upd()"><i
                                        class="fa fa-compass"></i><span style="margin-left: 10px;">修改密码</span></a></li>
                            <li onclick="logout()"><a><i class="fa fa-sign-out"></i><span
                                        style="margin-left: 10px;">注销</span></a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div style="margin-top: 50px; position: fixed; width: 100%; height:10%; background-color: #bdbdbd;">
        <form class="form-efficiency" action="" method="post">
            {% csrf_token %}
            <table class="table">
                <tr>
                    <th>绩效开始时间</th>
                    <th>绩效结束时间</th>
                    <th>名字</th>
                    <th colspan="2" style="text-align: center;">按钮</th>
                </tr>
                <tr>
                    <td><input type="date" name="now-begin-time" id="now-begin-time" class="form-control"
                            value="{{ now_begin_time }}"></td>
                    <td><input type="date" name="now-over-time" id="now-over-time" class="form-control"
                            value="{{ now_over_time }}"></td>
                    <td><input type="input" name="uname" id="now-over-time" class="form-control" value="{{ uname }}">
                    </td>
                    <td><input type="reset" class="btn btn-default pull-left" value="重置"></td>
                    <td><input type="submit" class="btn btn-primary pull-right" value="查看"></td>
                </tr>
            </table>
        </form>
    </div>
    <div style="position: fixed; width: 100%; height: 84.2%; top: 15.6%; overflow-y: auto; background-color: #bdbdbd;">
        <h3>绩效展示</h3>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>类型</th>
                    <th>项目名字</th>
                    <th>图片/视频数量</th>
                    <th>框数/属性/时长</th>
                </tr>
            </thead>
            <tbody>
                {% for i in tks_nw %}
                <tr>
                    {% if i.0 == '审核' %}
                    <td>{{ i.0 }}</td>
                    <td>{{ i.1 }}</td>
                    <td>{{ i.2 }}</td>
                    <td></td>
                    {% endif %}
                    {% if i.0 == '筛选' %}
                    <td>{{ i.0 }}</td>
                    <td>{{ i.1 }}</td>
                    <td>{{ i.2 }}</td>
                    <td></td>
                    {% endif %}
                    {% if i.0 == '标签标注' %}
                    <td>{{ i.0 }}</td>
                    <td>{{ i.1 }}</td>
                    <td>{{ i.2 }}</td>
                    <td>{{ i.3 }}</td>
                    {% endif %}
                    {% if i.0 == '2.5D点云标注' %}
                    <td>{{ i.0 }}</td>
                    <td>{{ i.1 }}</td>
                    <td>{{ i.2 }}</td>
                    <td>{{ i.3 }}</td>
                    {% endif %}
                    {% if i.0 == '属性标注' %}
                    <td>{{ i.0 }}</td>
                    <td>{{ i.1 }}</td>
                    <td>{{ i.2 }}</td>
                    <td>{{ i.3 }}</td>
                    {% endif %}
                    {% if i.0 == '视频标注' %}
                    <td>{{ i.0 }}</td>
                    <td>{{ i.1 }}</td>
                    <td>{{ i.2 }}</td>
                    <td>{{ i.3 }}</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- 弹窗之密码修改 -->
    <div class="modal fade" tabindex="-1" role="dialog" id="pwd_update">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title">修改密码</h3>
                </div>
                <div class="modal-body">
                    <form class='form-register' action="/pwd_update/" method="post">
                        {% csrf_token %}
                        <div class="alert alert-warning" id="err_msg" style="display: none;"></div>
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">用户名:</label>
                            <input type="text" class="form-control zh_uname" name="uname" readonly="readonly">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">请输入新密码:</label>
                            <input type="password" class="form-control" name="new_pwd1" required>
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="control-label">再次输入新密码:</label>
                            <input type="password" class="form-control" name="new_pwd2" required>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="submit" class="btn btn-primary">确认</button>
                        </div>
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</body>
<script src="/static/js/disable.js"></script>
<script>
    function help() {
        alert('请联系卫龙');
    };
    // 修改密码
    function pwd_upd() {
        $('#pwd_update').modal('show');
        $(".zh_uname").val($("#name").text());
    };
    function logout() {
        sessionStorage.setItem("isLogin", "");
        sessionStorage.setItem("zhuname", "");
        sessionStorage.setItem("power", "");
        window.location.href = '/login'
    }

    // 导航栏
    function navswitch(flag){
        if (sessionStorage.getItem("power") == '2') {
            alert("您没有权限查看!");
        } else {
            window.location.href = '/'+flag;
        }
    }
</script>

</html>