<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" rel="external nofollow" href="/static/img/favicon.ico" />
    <link rel="stylesheet" href="/static/lib/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/lib/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/index1.css">
    <script src="/static/lib/jquery/2.1.4/jquery.min.js"></script>
    <script src="/static/lib/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="/static/lib/echarts.min.js"></script>
    <link href="/static/lib/layui-v2.7.6/layui/css/layui.css" rel="stylesheet">
    <script src="/static/lib/layui-v2.7.6/layui/layui.js"></script>
    <title>个人绩效</title>
    <style>
        h3 {
            text-align: center;
        }
        .form-group {
            margin-left: 60px !important;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top" onselectstart="return false">
        <!--onselectstrat 禁止选中-->
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#my-nav"
                    aria-expanded="false">
                    <span class="sr-only">切换导航条</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- <a class="navbar-brand" style="cursor:default;"> -->
                <img src="/static/img/logo_ess.png" alt="ESS" draggable="false">
                <!-- </a> -->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="my-nav">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/index" style="color: #fff; background-color: rgb(68, 147, 199);">首页</a></li>
                    <li class="active"><a href="/waibao">外包数据</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li style="border-right: 1px solid #bdbdbd; margin-right: 20px; cursor: pointer;"><a
                            onclick="help()">
                            <i class="fa fa-hand-o-right" style="margin-right: 5px; font-size: 18px;"></i>
                            <span style="font-size: 18px;">Help</span></a>
                    </li>
                    <li role="presentation" class="dropdown" style="width: 139px;">
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            style="text-align: center;">
                            <i class="fa fa-user" style="margin-left: -30px; font-size: 18px;"></i>
                            <span style="font-size: 18px; margin-left: 5px;" id="name"></span><span class="caret"
                                style="margin-left: 10px;"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li style="border-bottom: 1px solid gray;" id="nav_setting">
                                <a href="/sites/" target="black">
                                    <i class="fa fa-gear"></i>
                                    <span style="margin-left: 10px;">设置</span>
                                </a>
                            </li>
                            <li style="border-bottom: 1px solid gray;" onclick="info()">
                                <a>
                                    <i class="fa fa-info-circle"></i>
                                    <span style="margin-left: 10px;">关于</span>
                                </a>
                            </li>
                            <li onclick="logout()"><a><i class="fa fa-sign-out"></i><span
                                        style="margin-left: 10px;">注销</span></a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="alert alert-danger hide" id="alert_div"
        style="width: 300px; position: fixed; top: 40%;left: 45%; right: 50%;z-index: 999; font-size: 22px; text-align: center;">
    </div> <!-- 警告弹出框 -->
    <div style="margin-top: 55px;">
        <table style="margin-left: 20px;">
            <tbody>
                <tr>
                    <td>
                        <strong>开始时间:</strong>
                        <input type="date" id="startDate"
                            style="width: 200px; height: 35px; padding: 0 10px; border-radius: 20px; border: 1.5px solid rgb(196, 196, 196);">
                    </td>
                    <td>
                        <strong style="margin-left: 15px;">截止时间:</strong>
                        <input type="date" id="endDate"
                            style="width: 200px; height: 35px; padding: 0 10px; border-radius: 20px; border: 1.5px solid rgb(196, 196, 196);">
                    </td>
                    <td>
                        <input type="input" name="uname" id="uname" class="form-control" placeholder="名字"
                            style="border-radius: 20px; margin-left: 10px;">
                    </td>
                    <td>
                        <button class="btn btn-primary pull-right" onclick="search()"
                            style="border-radius: 20px; margin-left: 20px;">查看</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <table class="layui-hide test" id="test" lay-filter="test" style="margin-top: 50px;"></table>
    <!-- 弹窗之ESS-Info -->
    <div class="modal fade" tabindex="-1" role="dialog" id="ess_info">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" style="color: rgb(68, 147, 199);">
                        <i class="fa fa-info-circle"></i> ESS-INFO
                    </h3>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <p>
                            ESS 是一款统计性的功能平台<br>
                            主要有记录个人平时的工作内容，工作量，工作效率，绩效等<br>
                            也可以统计给供应商发送的数据量，各供应商在每个项目上所用的费用等
                        </p>
                    </div>
                    <div class="form-group">
                        <p>
                            <span class="ant-typography"><strong>Font-Awesome version:</strong></span>
                            <span class="ant-typography ant-typography-secondary"> 4.7.0</span>
                        </p>
                    </div>
                    <div class="form-group">
                        <p>
                            <span class="ant-typography"><strong>Echarts version:</strong></span>
                            <span class="ant-typography ant-typography-secondary"> 5.4.1</span>
                        </p>
                    </div>
                    <div class="form-group">
                        <p>
                            <span class="ant-typography"><strong>Pyecharts version:</strong></span>
                            <span class="ant-typography ant-typography-secondary"> 2.0.1</span>
                        </p>
                    </div>
                    <div class="form-group">
                        <p>
                            <span class="ant-typography"><strong>Bootstrap version:</strong></span>
                            <span class="ant-typography ant-typography-secondary"> 3.4.1</span>
                        </p>
                    </div>
                    <div class="form-group">
                        <p>
                            <span class="ant-typography"><strong>jQuery version:</strong></span>
                            <span class="ant-typography ant-typography-secondary"> 2.1.4</span>
                        </p>
                    </div>
                    <div class="form-group">
                        <p>
                            <span class="ant-typography"><strong>Layui version:</strong></span>
                            <span class="ant-typography ant-typography-secondary"> 2.7.6</span>
                        </p>
                    </div>
                    <div class="form-group">
                        <p>
                            <span class="ant-typography"><strong>Django version:</strong></span>
                            <span class="ant-typography ant-typography-secondary"> 3.2.14</span>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <a href="https://gitee.com/gwt0805/myess/tree/main/" target="_blank"
                            style="position: absolute; left: 20px;"><i
                                class="fa fa-github-square fa-2x" style="color: black;"></i></a>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                            style="color: blue;">
                            <span aria-hidden="true">OK</span>
                        </button>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</body>
<script src="/static/js/disable.js"></script>
<script src="/static/js/click_yh.js"></script>
<script disable-devtool-auto src='https://cdn.jsdelivr.net/npm/disable-devtool' url='https://www.baidu.com/' timeOutUrl='https://www.baidu.com/'></script>
<script>
    const table = layui.table;
    // 查询
    function search() {
        if ($("#startDate").val() == "" || $("#endDate").val() == "") {
            $(".alert-danger").html("请选择时间!");
            $(".alert-danger").addClass("show");
            window.setTimeout(function () {
                $(".alert-danger").removeClass("show");
            }, 1000);//显示的时间
        }
        else if ($("#uname").val() == "") {
            $(".alert-danger").html("请填写名字!");
            $(".alert-danger").addClass("show");
            window.setTimeout(function () {
                $(".alert-danger").removeClass("show");
            }, 1000);//显示的时间
        }
        else {
            let url = '/getperformancedata?uname=' + $("#uname").val() + '&begin_time=' + $("#startDate").val() + "&last_time=" + $("#endDate").val();
            table.reload('test', {
                url: url,
                page: {
                    curr: 1 //重新从第 1 页开始
                }
            })
        }
    }
    
    //渲染表格
    table.render({//渲染table
        url: '/getperformancedata',     //数据获取url
        method: 'GET',         //数据传输方式为post
        elem: '#test',         //设置容器
        // toolbar: '#toolbar',
        height: 'full-110',    //高度为屏幕高度-20
        page: true,
        request: {
            pageName: 'pageIndex',  // 页码的参数名称，默认：page
            limitName: 'pageSize',   // 每页数据量的参数名，默认：limit
        },
        response: {
            statusName: 'code',     // 规定数据状态的字段名称，默认：code
            statusCode: 0,          // 规定成功的状态码，默认：0
            msgName: 'msg',         // 规定状态信息的字段名称，默认：msg
            countName: 'count', // 规定数据总数的字段名称，默认：count
            dataName: 'data'        // 规定数据列表的字段名称，默认：data
        },
        page: {
            layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'],     // 自定义分页布局
            curr: 1,      // 设置默认起始页1
            groups: 3,   //只显示10个连续页码,就是说显示10个可见页其他的省略
            first: '首页', // 不显示首页
            last: '尾页'   // 不显示尾页
        },
        limit: 50,
        limits: [50, 100, 150],
        skin: 'row', //表格风格
        even: true,    //隔行换色
        cols: [[               //设置列标签、标题、宽度、是否排序等
            // {checkbox:true}, // 复选框
            { field: 'kinds', title: '类型', sort:true },
            { field: 'pname', title: '项目名字', sort:true },
            { field: 'pnum', title: '图片/视频数量' },
            { field: 'knum', title: '框数/属性/时长' }
        ]],
    });

    // help
    function help() {
        $(".alert-danger").html("请联系卫龙!");
        $(".alert-danger").addClass("show");
        window.setTimeout(function () {
            $(".alert-danger").removeClass("show");
        }, 1000);//显示的时间
    };
    // setting
    if (window.localStorage.getItem("power") != '1'){
        $("#nav_setting").css('display', 'none')
    }
    else {
        $("#nav_setting").css('display', 'block')
    }
    // 关于
    function info() {
        $('#ess_info').modal('show');
    }

    function logout() {
        window.localStorage.removeItem("isLogin");
        window.localStorage.removeItem("zhuname");
        window.localStorage.removeItem("power");
        window.location.href = '/login'
    }
</script>

</html>