<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" rel="external nofollow" href="/static/img/favicon.ico" />
    <link rel="stylesheet" href="/static/lib/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/lib/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/index1.css">
    <script src="/static/lib/jquery/2.1.4/jquery.min.js"></script>
    <script src="/static/lib/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="/static/lib/layui-v2.7.6/layui/css/layui.css" rel="stylesheet">
    <script src="/static/lib/layui-v2.7.6/layui/layui.js"></script>
    <title>外包数据</title>
    <style>
        h3 {
            text-align: center;
        }

        table {
            table-layout: fixed;
        }

        thead tr th {
            position: sticky;
            background-color: #fff;
            top: 0;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top" onselectstart="return false">
        <!--onselectstrat 禁止选中-->
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#my-nav"
                    aria-expanded="false">
                    <span class="sr-only">切换导航条</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- <a class="navbar-brand" style="cursor:default;"> -->
                <img src="/static/img/logo_ess.png" alt="ESS" draggable="false">
                <!-- </a> -->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="my-nav">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/index">首页</a></li>
                    <li class="active">
                        <a style="color: #fff; background-color: rgb(68, 147, 199);">外包数据</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li style="border-right: 1px solid #bdbdbd; margin-right: 20px; cursor: pointer;"><a
                            onclick="help()">
                            <i class="fa fa-hand-o-right" style="margin-right: 5px; font-size: 18px;"></i>
                            <span style="font-size: 18px;">Help</span></a>
                    </li>
                    <li role="presentation" class="dropdown" style="width: 139px;">
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            style="text-align: center;">
                            <i class="fa fa-user" style="margin-left: -30px; font-size: 18px;"></i>
                            <span style="font-size: 18px; margin-left: 5px;" id="name"></span><span class="caret"
                                style="margin-left: 10px;"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li style="border-bottom: 1px solid gray;" id="nav_setting">
                                <a href="/sites/" target="black">
                                    <i class="fa fa-gear"></i>
                                    <span style="margin-left: 10px;">设置</span>
                                </a>
                            </li>
                            <li style="border-bottom: 1px solid gray;" onclick="info()">
                                <a>
                                    <i class="fa fa-info-circle"></i>
                                    <span style="margin-left: 10px;">关于</span>
                                </a>
                            </li>
                            <li onclick="logout()"><a><i class="fa fa-sign-out"></i><span
                                        style="margin-left: 10px;">注销</span></a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div id="body-div">
        <div id="left" onselectstart="return false">
            <label onclick="ginsert()">
                <i class="fa fa-plus-square" aria-hidden="true"></i>
                <span>添加数据</span>
            </label>
            <label onclick="search()">
                <i class="fa fa-search" aria-hidden="true"></i>
                <span>搜索数据</span>
            </label>
            <label onclick="showData('wbdata_count')">
                <i class="fa fa-bar-chart" aria-hidden="true"></i>
                <span>图表展示</span>
            </label>
            <label onclick="showData('cronjob')">
                <i class="fa fa-clock-o"></i>
                <span>定时任务</span>
            </label>
            <p>© gwt 2021.12.18</p>
        </div>
        <div id="right">
            <div style="height: 80px;">
                <div class="alert alert-danger hide" id="alert_div"
                    style="width: 300px; position: fixed; top: 40%;left: 45%; right: 50%;z-index: 1; font-size: 22px;">
                </div> <!-- 警告弹出框 -->
                <!-- insert -->
                <div id="ginsert" style="display: none;">
                    <table class="table">
                        <tr>
                            <th>研发名字</th>
                            <th>项目名字</th>
                            <th>送标批次</th>
                            <th>送标时间</th>
                            <th>送标样本数量</th>
                            <th>数据来源</th>
                            <th>场景分布</th>
                            <th>送标原因</th>
                            <th>关键帧抽取方式</th>
                            <th>是否首次标注</th>
                            <th>外包名字</th>
                            <th>操作</th>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" class="form-control" name="user_insert" id="user_insert" disabled>
                            </td>
                            <td><select class="form-control" name="pname" id="pname_insert"><option value="---">---</option></select></td>
                            <td><input type="text" class="form-control" name="send_data_batch_insert" id="send_data_batch_insert"></td>
                            <td><input type="date" class="form-control" name="send_data_time_insert" id="send_data_time_insert"></td>
                            <td><input type="number" name="pnums" min="0" class="form-control" id="pnums_insert"></td>
                            <td>
                                <select name="data_source_insert" class="form-control" id="data_source_insert"></select>
                            </td>
                            <td><input type="text" class="form-control" name="scene_insert" id="scene_insert"></td>
                            <td><input type="text" class="form-control" name="send_reason_insert" id="send_reason_insert"></td>
                            <td><input type="text" class="form-control" name="key_frame_extracted_methods_insert" id="key_frame_extracted_methods_insert"></td>
                            <td><select name="ann_field" id="ann_field" class="form-control"><option value="---">---</option></select></td>
                            <td><select class="form-control" name="wb_name" id="wb_name_insert"><option value="---">---</option></select></td>
                            <td>
                                <button class="btn btn-primary" id="btn_insert">
                                    <i class="fa fa-plus-square" aria-hidden="true"></i> 添加
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
                <!-- searcch -->
                <div id="search">
                    <table class="table">
                        <tr>
                            <th>项目名字</th>
                            <th>标注方</th>
                            <th>开始时间</th>
                            <th>结束时间</th>
                            <th>按钮</th>
                        </tr>
                        <tr>
                            <td>
                                <select class="form-control" name="pname" id="pname_search">
                                    <option value="---">---</option>
                                </select>
                            </td>
                            <td>
                                <select class="form-control" name="bzf" id="bzf_search">
                                    <option value="---">---</option>
                                </select>
                            </td>
                            <td><input type="date" name="begin_time" class="form-control" id="begin_time_search"></td>
                            <td><input type="date" name="last_time" class="form-control" id="last_time_search"></td>
                            <td>
                                <input type="reset" class="btn btn-default" id="reset" value="重置">
                                <input type="button" class="btn btn-primary" id="serch" value="查询">
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <script type="text/html" id="toolbars">
                <button class="layui-btn layui-btn-sm" lay-event="export_btn">数据导出</button>
            </script>
            <!--工具栏(每行)-->
            <script type="text/html" id="barDemo">
                <a class="layui-btn layui-btn-xs" lay-event="edit"><i class="fa fa-pencil"></i> 编辑</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="fa fa-remove"></i> 删除</a>
            </script>
            <div><table class="layui-hide table-bordered" id="test" lay-filter="test"></table></div>
            <!-- 弹窗之ESS-Info -->
            <div class="modal fade" tabindex="-1" role="dialog" id="ess_info" style="margin: 200px 0 0 500px; ">
                <div class="modal-dialog" role="document">
                    <div class="modal-content  modal-sm">
                        <div class="modal-header">
                            <h3 class="modal-title" style="color: rgb(68, 147, 199);">
                                <i class="fa fa-info-circle"></i> ESS-INFO
                            </h3>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <p>
                                    ESS 是一款统计性的功能平台<br>
                                    主要有记录个人平时的工作内容，工作量，工作效率，绩效等<br>
                                    也可以统计给供应商发送的数据量，各供应商在每个项目上所用的费用等
                                </p>
                            </div>
                            <div class="form-group">
                                <p>
                                    <span class="ant-typography"><strong>Font-Awesome version:</strong></span>
                                    <span class="ant-typography ant-typography-secondary"> 4.7.0</span>
                                </p>
                            </div>
                            <div class="form-group">
                                <p>
                                    <span class="ant-typography"><strong>Echarts version:</strong></span>
                                    <span class="ant-typography ant-typography-secondary"> 5.4.1</span>
                                </p>
                            </div>
                            <div class="form-group">
                                <p>
                                    <span class="ant-typography"><strong>Pyecharts version:</strong></span>
                                    <span class="ant-typography ant-typography-secondary"> 2.0.1</span>
                                </p>
                            </div>
                            <div class="form-group">
                                <p>
                                    <span class="ant-typography"><strong>Bootstrap version:</strong></span>
                                    <span class="ant-typography ant-typography-secondary"> 3.4.1</span>
                                </p>
                            </div>
                            <div class="form-group">
                                <p>
                                    <span class="ant-typography"><strong>jQuery version:</strong></span>
                                    <span class="ant-typography ant-typography-secondary"> 2.1.4</span>
                                </p>
                            </div>
                            <div class="form-group">
                                <p>
                                    <span class="ant-typography"><strong>Layui version:</strong></span>
                                    <span class="ant-typography ant-typography-secondary"> 2.7.6</span>
                                </p>
                            </div>
                            <div class="form-group">
                                <p>
                                    <span class="ant-typography"><strong>Django version:</strong></span>
                                    <span class="ant-typography ant-typography-secondary"> 3.2.14</span>
                                </p>
                            </div>
                            <div class="modal-footer">
                                <a href="https://github.com/gwt805/myess/tree/master" target="_blank"
                                    style="position: absolute; left: 20px;"><i
                                        class="fa fa-github-square fa-2x"></i></a>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                    style="color: blue;">
                                    <span aria-hidden="true">OK</span>
                                </button>
                            </div>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            <!-- 弹窗之数据修改 -->
            <div class="modal fade" tabindex="-1" role="dialog" id="gs_update_model">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h3 class="modal-title">修改数据</h3>
                        </div>
                        <div class="modal-body">
                            <div class="alert alert-danger" id="err_msg" style="display: none;"></div>
                            <table class="table" id="gtable">
                                <tr>
                                    <th>ID</th>
                                    <th>研发名字</th>
                                    <th>项目名字</th>
                                    <th>送标批次</th>
                                </tr>
                                <tr>
                                    <td><input type="number" min="0" class="form-control" name="id" disabled id="id_update"></td>
                                    <td><input type="text" class="form-control" id="user_update" disabled></td>
                                    <td><select class="form-control" name="pname" id="pname_update" disabled></select></td>
                                    <td><input type="text" class="form-control" name="send_data_batch_update" id="send_data_batch_update" disabled></td>
                                </tr>
                                <tr>
                                    <th>送标时间</th>
                                    <th>送标样本数量</th>
                                    <th>数据来源</th>
                                    <th>场景分布</th>
                                </tr>
                                <tr>
                                    <td><input type="date" class="form-control" name="send_data_time" id="send_data_time_update" disabled></td>
                                    <td><input type="number" class="form-control" min="0" name="pnums" id="pnums_update" disabled></td>
                                    <td><select class="form-control" name="data_source" id="data_source_update" disabled></select></td>
                                    <td><input type="text" class="form-control" name="scene_update" id="scene_update" disabled></td>
                                </tr>
                                <tr>
                                    <th>送标原因</th>
                                    <th>关键帧抽取方式</th>
                                    <th>外包名字</th>
                                    <th>是否首次标注</th>
                                </tr>
                                <tr>
                                    <td><input type="text" class="form-control" name="send_reason_update" id="send_reason_update" disabled></td>
                                    <td><input type="text" class="form-control" name="key_frame_extracted_methods_update" id="key_frame_extracted_methods_update" disabled></td>
                                    <td><select class="form-control" name="wb_name" id="wb_name_update" disabled></select></td>
                                    <td><select class="form-control" name="ann_field_flag_update" id="ann_field_flag_update" disabled></select></td>
                                </tr>
                                <tr>
                                    <th>开始验收时间</th>
                                    <th>结束验收时间</th>
                                    <th>收到标注结果时间</th>
                                </tr>
                                <tr>
                                    <td><input type="date" class="form-control" name="begin_check_data_time_update" id="begin_check_data_time_update"></td>
                                    <td><input type="date" class="form-control" name="last_check_data_time_update" id="last_check_data_time_update"></td>
                                    <td><input type="date" class="form-control" name="get_data_time" id="get_data_time_update"></td>
                                </tr>
                                <tr>
                                    <th>结算方式</th>
                                    <th>交付准确率</th>
                                    <th>框数</th>
                                    <th>单价</th>
                                </tr>
                                <tr>
                                    <td>
                                        <select class="form-control settlement_method_update" id="settlement_method_update1"><option value="---">---</option></select>
                                    </td>
                                    <td><input type="number" class="form-control" min="0" max="100" name="recovery_precision_update" id="recovery_precision_update1"></td>
                                    <td><input type="number" min="0" class="form-control" name="knums_update" id="knums_update1"></td>
                                    <td><input type="number" min="0" step="0.01" class="form-control" name="unit_price_update" id="unit_price_update1"></td>
                                </tr>
                                <tr>
                                    <th>结算方式</th>
                                    <th>交付准确率</th>
                                    <th>框数</th>
                                    <th>单价</th>
                                </tr>
                                <tr>
                                    <td><select class="form-control settlement_method_update"  id="settlement_method_update2"><option value="---">---</option></select></td>
                                    <td><input type="number" class="form-control" min="0" max="100" name="recovery_precision_update" id="recovery_precision_update2"></td>
                                    <td><input type="number" min="0" class="form-control" name="knums_update" id="knums_update2"></td>
                                    <td><input type="number" min="0" step="0.01" class="form-control" name="unit_price_update" id="unit_price_update2"></td>
                                </tr>
                                <tr>
                                    <th>结算方式</th>
                                    <th>交付准确率</th>
                                    <th>框数</th>
                                    <th>单价</th>
                                </tr>
                                <tr>
                                    <td><select class="form-control settlement_method_update" id="settlement_method_update3"><option value="---">---</option></select></td>
                                    <td><input type="number" class="form-control" min="0" max="100" name="recovery_precision_update" id="recovery_precision_update3"></td>
                                    <td><input type="number" min="0" class="form-control" name="knums_update" id="knums_update3"></td>
                                    <td><input type="number" min="0" step="0.01" class="form-control" name="unit_price_update" id="unit_price_update3"></td>
                                </tr>
                            </table>
                            <div style="display: flex; justify-content: center;">
                                <button style="margin-bottom: 15px; display: inline; width: 100%;" class="btn btn-warning">
                                <i class="fa fa-plus-square" aria-hidden="true" style="margin-right: 10px;"></i>新&nbsp;增</button>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal"
                                    id="btn-miss">取消</button>
                                <button type="submit" class="btn btn-primary" id="btn-update">修改</button>
                            </div>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        </div>
    </div>
</body>
<script src="/static/js/disable.js"></script>
<script src="/static/js/click_yh.js"></script>
<script type="text/javascript">    
    const projects = JSON.parse('{{ projects|safe }}'); // 项目名字 列表
    const bzf = JSON.parse('{{ bzf|safe }}'); // 外包列表
    const data_source_list = JSON.parse('{{ data_source|safe }}'); // 数据来源列表
    const js_methods = JSON.parse('{{ js_methods|safe }}'); // 结算方式
    const ann_field = JSON.parse('{{ ann_field|safe }}'); // 是否首次标注
    let is_search = false; // 数据导出flag
    let is_search_url = '' // 数据来源url
    search();
    
    function clean_insert_data(){
        // end 清除
        $("#pname_insert").find('option:first').prop("selected", "selected");
        $("#send_data_time_insert").val("");
        $("#pnums_insert").val("");
        $("#data_source_insert").find('option:first').prop("selected", "selected");
        $("#scene_insert").val("");
        $("#send_reason_insert").val("");
        $("#key_frame_extracted_methods_insert").val("");
        $("#wb_name_insert").find('option:first').prop("selected", "selected");
    }

    function warning_alert(msg){
        $(".alert-danger").html(msg);
        $("#alert_div").css("background-color", 'rgb(242, 222, 222)');
        $("#alert_div").css("color", 'rgb(169, 68,66)');
        $(".alert-danger").addClass("show");
        window.setTimeout(function () {
            $(".alert-danger").removeClass("show");
        }, 1000);//显示的时间
    }
    const table = layui.table;
    //渲染表格
    var ins1 = table.render({//渲染table
        url: '/wballdata',     //数据获取url
        method: 'GET',         //数据传输方式为post
        elem: '#test',         //设置容器
        toolbar: "#toolbars",    // 工具栏
        height: 'full-155',    //高度为屏幕高度-20
        page: true,
        request: {
            pageName: 'pageIndex',  // 页码的参数名称，默认：page
            limitName: 'pageSize'   // 每页数据量的参数名，默认：limit
        },
        response: {
            statusName: 'code',     // 规定数据状态的字段名称，默认：code
            statusCode: 0,          // 规定成功的状态码，默认：0
            msgName: 'msg',         // 规定状态信息的字段名称，默认：msg
            countName: 'count', // 规定数据总数的字段名称，默认：count
            dataName: 'data'        // 规定数据列表的字段名称，默认：data
        },
        page: {
            layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'],     // 自定义分页布局
            curr: 1,      // 设置默认起始页1
            groups: 3,   //只显示10个连续页码,就是说显示10个可见页其他的省略
            first: '首页', // 不显示首页
            last: '尾页'   // 不显示尾页
        },
        limit: 20,
        limits: [20, 50, 100],
        skin: 'row', //表格风格
        even: true,    //隔行换色
        lineStyle: 'height: 39.5px;', // 设置整体行高,即开启多行显示
        totalRow: false, // 尾部分页栏-合计, 默认false
        cols: [[               //设置列标签、标题、宽度、是否排序等
            // {checkbox:true}, // 复选框
            { field: 'id', title: 'ID', fixed: left },
            { field: 'user', title:'研发', width: 80, fixed: left},
            { field: 'pname', title: '项目名字', width: 220, fixed: left},
            { field: 'send_data_batch', title: '送标批次', width: 150, fixed: left},
            { field: 'send_data_time', title: "送标时间", width: 110, fixed: left},
            { field: 'pnums', title: "送标样本数量", width: 130},
            { field: 'data_source', title: "数据来源", width: 110},
            { field: 'scene', title: "场景分布", width: 110},
            { field: 'send_reason', title: "送标原因", width: 110},
            { field: 'key_frame_extracted_methods', title: "关键帧抽取方式", width: 130},
            { field: 'begin_check_data_time', title: "开始验收时间", width: 120},
            { field: 'last_check_data_time', title: "结束验收时间", width: 120},
            { field: 'get_data_time', title: '标注结果返回时间', width: 150},
            { field: 'ann_meta_data', title:'准确率&框数&结算方式&单价', width: 230},
            { field: 'total_money', title: "总价", width: 110},
            { field: 'ann_field_flag', title: "是否首次标注", width: 120 },
            { field: 'wb_name', title: '外包名字', width: 90, fixed: 'right' },
            { fixed: 'right', title: '操作', toolbar: '#barDemo',width:150 },//设置每行的工具栏以及其容器
        ]],
        done: function (res, curr, count) {
            is_search = false;
            is_search_url = "/wballdata?pageIndex=1&pageSize=20";
        }
    });
    
    // 表格后台过滤
    $('#serch').click(function () {
        // var pname_search = $("#pname_search option:selected").val().replace("&","%26");
        const pname_search = encodeURIComponent($("#pname_search option:selected").val()); // encodeURIComponent 解决了把& 当参数问题
        const bzf_search = $('#bzf_search option:selected').val();
        const begin_time_search = $("#begin_time_search").val();
        const last_time_search = $("#last_time_search").val();
        let url = '/wballdata?pname=' + pname_search + '&bzf=' + bzf_search + "&begin_time=" + begin_time_search + "&last_time=" + last_time_search
        table.reload('test', {
            url: url,
            page: {
                curr: 1 //重新从第 1 页开始
            },
            done: function (res, curr, count) {
                is_search = true;
                is_search_url = '/wballdata?pageIndex=1&pageSize=20&pname=' + pname_search + '&bzf=' + bzf_search + "&begin_time=" + begin_time_search + "&last_time=" + last_time_search;
            }
        });
    });
    // 表格过滤重置
    $("#reset").click(function () {
        let url = '/wballdata'
        table.reload('test', {
            url: url,
            page: {
                curr: 1 //重新从第 1 页开始
            },
            done: function (res, curr, count) {
                is_search = false;
                is_search_url = "/wballdata";
            }
        });
        $('#pname_search').find('option:first').prop("selected", "selected");
        $('#bzf_search').find('option:first').prop("selected", "selected");
        $("#begin_time_search").val("");
        $("#last_time_search").val("");
    })
    // 操作栏-编辑/删除
    table.on('tool(test)', function (obj) { // 双击 toolDouble
        var data = obj.data;
        // console.log(obj.data)
        if (obj.event === 'del') {
            if (sessionStorage.getItem("power") != '1') {
                $(".alert-danger").html("您没有删除数据权限!");
                $(".alert-danger").addClass("show");
                window.setTimeout(function () {
                    $(".alert-danger").removeClass("show");
                }, 1000);//显示的时间
            }
            else {
                layer.confirm('真的删除ID为 '+obj.data.id+' 的数据么', function (index) {
                    $.ajax("/wb_dtdel/", {
                        method: "GET",
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        data: {
                            n: $("#name").text(),
                            id: obj.data.id
                        },
                    }).done(function (res) {
                        if (res && res.data == "successful") {
                            let url = '/wballdata'
                            table.reload('test', { url: url, page: { curr: 1 } });//重新从第 1 页开始

                            $(".alert-danger").html("ID: " + obj.data.id + " 删除成功!");
                            $(".alert-danger").addClass("show");
                            window.setTimeout(function () {
                                $(".alert-danger").removeClass("show");
                            }, 1000);//显示的时间
                        }
                        else {
                            $(".alert-danger").html("ID: " + obj.data.id + " 删除失败!");
                            $(".alert-danger").addClass("show");
                            window.setTimeout(function () {
                                $(".alert-danger").removeClass("show");
                            }, 1000);//显示的时间
                        }
                    });
                    layer.close(index);
                });
            }
        }
        else if (obj.event === 'edit') {// 数据修改
            if (sessionStorage.getItem("power") == '3') {
                $(".alert-danger").html("您没有修改数据权限!");
                $(".alert-danger").addClass("show");
                window.setTimeout(function () {
                    $(".alert-danger").removeClass("show");
                }, 1000);//显示的时间
            }
            else {
                layer.confirm('真的修改ID为 '+obj.data.id+' 的数据么', function (index) {
                    $('#gs_update_model').modal('show');
                $("#err_msg").css("display", 'none');
                $.ajax("/wb_update", {
                    method: "GET",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: {
                        id: obj.data.id
                    },
                }).done(function (res) {
                    if (res && res.status == "successful") {
                        for(let clean_idx=1; clean_idx<=3; clean_idx++){
                            $("#settlement_method_update"+clean_idx).find('option:first').prop("selected", "selected");
                            $("#recovery_precision_update"+clean_idx).val("");
                            $("#knums_update"+clean_idx).val("");
                            $("#unit_price_update"+clean_idx).val("");
                        }
                        const id = res.data[0].id;
                        const user = res.data[0].user;
                        const pname = res.data[0].pname;
                        const send_data_batch = res.data[0].send_data_batch
                        const send_data_time = res.data[0].send_data_time;
                        const pnums = res.data[0].pnums;
                        const data_source = res.data[0].data_source;
                        const scene = res.data[0].scene;
                        const send_reason = res.data[0].send_reason;
                        const key_frame_extracted_methods = res.data[0].key_frame_extracted_methods;
                        const begin_check_data_time = res.data[0].begin_check_data_time;
                        const last_check_data_time = res.data[0].last_check_data_time;
                        const get_data_time = res.data[0].get_data_time;
                        const ann_field_flag = res.data[0].ann_field_flag;
                        const wb_name = res.data[0].wb_name;
                        const ann_meta_data = res.data[0].ann_meta_data;

                        $("#id_update").val(id);
                        $("#user_update").val(user);
                        $("#pname_update").html("<option value=" + pname + ">" + pname + "</option>");
                        $("#send_data_batch_update").val(send_data_batch);
                        $("#send_data_time_update").val(send_data_time);
                        $("#pnums_update").val(pnums);
                        $("#data_source_update").html("<option value=" + data_source + ">" + data_source + "</option>");
                        $("#scene_update").val(scene);
                        $("#send_reason_update").val(send_reason);
                        $("#key_frame_extracted_methods_update").val(key_frame_extracted_methods);
                        $("#begin_check_data_time_update").val(begin_check_data_time);
                        $("#last_check_data_time_update").val(last_check_data_time);
                        $("#get_data_time_update").val(get_data_time);
                        $("#ann_field_flag_update").html("<option value=" + ann_field_flag + ">" + ann_field_flag + "</option>");
                        $("#wb_name_update").html("<option value=" + wb_name + ">" + wb_name + "</option>");
                    
                        // 给结算方式 添加下拉框
                        let js1 = document.getElementById('settlement_method_update1');
                        for (var i = 0; i < js_methods.length; i++) {
                            if (js1.length < js_methods.length+1) { // 这里不判断的话会一直添加
                                if (js_methods[i] != js1.value) {
                                    var objOption = document.createElement("option");
                                    objOption.value = js_methods[i];
                                    objOption.text = js_methods[i];
                                    js1.add(objOption);
                                };
                            };
                        };
                        // 2
                        let js2 = document.getElementById('settlement_method_update2');
                        for (var i = 0; i < js_methods.length; i++) {
                            if (js2.length < js_methods.length+1) { // 这里不判断的话会一直添加
                                if (js_methods[i] != js2.value) {
                                    var objOption = document.createElement("option");
                                    objOption.value = js_methods[i];
                                    objOption.text = js_methods[i];
                                    js2.add(objOption);
                                };
                            };
                        };
                        // 3
                        let js3 = document.getElementById('settlement_method_update3');
                        for (var i = 0; i < js_methods.length; i++) {
                            if (js3.length < js_methods.length+1) { // 这里不判断的话会一直添加
                                if (js_methods[i] != js3.value) {
                                    var objOption = document.createElement("option");
                                    objOption.value = js_methods[i];
                                    objOption.text = js_methods[i];
                                    js3.add(objOption);
                                };
                            };
                        };

                        if (ann_meta_data != ""){
                            for (let index = 0; index < ann_meta_data.length; index++) {
                                const method = ann_meta_data[index]["settlement_method"];
                                const price = ann_meta_data[index]["unit_price"];
                                const pricision = ann_meta_data[index]["recovery_precision"];
                                const knums = ann_meta_data[index]["knums"];
                                // 结算方式	交付准确率	框数	单价
                                $("#settlement_method_update"+(index+1)).val(method);
                                $("#recovery_precision_update"+(index+1)).val(pricision);
                                $("#knums_update"+(index+1)).val(knums);
                                $("#unit_price_update"+(index+1)).val(price);
                            }
                        }

                    }
                });
                    layer.close(index);
                });
            }
        }
    });
    // 添加数据
    $("#btn_insert").click(function () {
        if (sessionStorage.getItem("power") == '3') {
            warning_alert("您没有权限添加数据!");
        }
        else {
            const user = $("#user_insert").val();
            const pname = $("#pname_insert option:selected").val();
            const send_data_batch = $("#send_data_batch_insert").val();
            const send_data_time = $("#send_data_time_insert").val();
            const pnums = $("#pnums_insert").val();
            const data_source = $("#data_source_insert option:selected").val();
            const scene = $("#scene_insert").val();
            const send_reason = $("#send_reason_insert").val();
            const key_frame_extracted_methods = $("#key_frame_extracted_methods_insert").val();
            const ann_field_sel = $("#ann_field option:selected").val();
            const wb_name = $("#wb_name_insert option:selected").val();
            if (send_data_time == "") {
                warning_alert("送标时间不允许为空!");
            }
            else if (ann_field_sel == "---") {
                warning_alert("是否首次标注不允许为空!");
            }
            else if (pname == "---") {
                warning_alert("项目名字不允许为空!");
            }
            else if (send_data_batch == ""){
                warning_alert("送标批次不允许为空!");
            }
            else if (scene == "---") {
                warning_alert("数据来源不允许为空!");
            }
            else if(wb_name == "---") {
                warning_alert("外包名字不允许为空!");
            }
            else if (pnums == "") {
                warning_alert("样本数量不允许为空!");
            }
            else if (pnums <= 0) {
                warning_alert("样本数量不允许小于等于 <b>0<b/> !");
            }
            else if (data_source == "---") {
                warning_alert("数据来源不允许为空!");
            }
            else if (scene == "") {
                warning_alert("场景分布不允许为空!");
            }
            else if (send_reason == "") {
                warning_alert("送标原因不允许为空!");
            }
            else if (key_frame_extracted_methods == "") {
                warning_alert("关键帧抽取方式不允许为空!");
            }
            else {
                $.ajax("/waiabo_data_insert/", {
                    method: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: {
                        user: user,
                        pname: pname,
                        send_data_batch: send_data_batch,
                        send_data_time: send_data_time,
                        pnums: pnums,
                        data_source: data_source,
                        scene: scene,
                        send_reason: send_reason,
                        key_frame_extracted_methods: key_frame_extracted_methods,
                        ann_field_flag: ann_field_sel,
                        wb_name: wb_name
                    },
                }).done(function (res) {
                    if (res && res.data == "successful") {
                        // 添加数据后清除上次的值
                        clean_insert_data();
                        let url = '/wballdata'
                        table.reload('test', { url: url, page: { curr: 1 } });//重新从第 1 页开始

                        $(".alert-danger").html("添加成功!");
                        $(".alert-danger").addClass("show");
                        $("#alert_div").css("background-color", 'rgb(21, 150, 90)');
                        $("#alert_div").css("color", 'rgb(255, 255, 255)');
                        window.setTimeout(function () {
                            $(".alert-danger").removeClass("show");
                        }, 1000);//显示的时间
                    }
                    else {
                        warning_alert(res.data);
                    }
                });
            }
        }
    })

    // 修改数据
    $("#btn-update").click(function () {
        const id = $("#id_update").val();
        const user = $("#user_update").val();
        const main_user = $("#name").text();
        const pname = $("#pname_update option:selected").val();
        const send_data_batch = $("#send_data_batch_update").val();
        const send_data_time = $("#send_data_time_update").val();
        const pnums = $("#pnums_update").val();
        const data_source = $("#data_source_update option:selected").val();
        const scene = $("#scene_update").val();
        const send_reason = $("#send_reason_update").val();
        const key_frame_extracted_methods = $("#key_frame_extracted_methods_update").val();
        const begin_check_data_time = $("#begin_check_data_time_update").val();
        const last_check_data_time = $("#last_check_data_time_update").val();
        const get_data_time = $("#get_data_time_update").val();
        const ann_field = $("#ann_field_flag_update option:selected").val();
        const wb_name = $("#wb_name_update option:selected").val();
        
        const recovery_precision1 = $("#recovery_precision_update1").val();
        const knums1 = $("#knums_update1").val();
        const settlement_method1 = $("#settlement_method_update1  option:selected").val();
        const unit_price1 = $("#unit_price_update1").val();
        
        const recovery_precision2 = $("#recovery_precision_update2").val();
        const knums2 = $("#knums_update2").val();
        const settlement_method2 = $("#settlement_method_update2  option:selected").val();
        const unit_price2 = $("#unit_price_update2").val();

        const recovery_precision3 = $("#recovery_precision_update3").val();
        const knums3 = $("#knums_update3").val();
        const settlement_method3 = $("#settlement_method_update3  option:selected").val();
        const unit_price3 = $("#unit_price_update3").val();
        
        const ann_meta_data = [
                                {'recovery_precision': recovery_precision1,
                                'knums': knums1, 
                                "settlement_method": settlement_method1, 
                                "unit_price": unit_price1
                                },
                                {'recovery_precision': recovery_precision2,
                                    'knums': knums2, 
                                    "settlement_method": settlement_method2, 
                                    "unit_price": unit_price2
                                },
                                {'recovery_precision': recovery_precision3,
                                    'knums': knums3, 
                                    "settlement_method": settlement_method3, 
                                    "unit_price": unit_price3
                                }
                            ]
        $.ajax("/wb_update/", {
            method: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: {
                id: id,
                user: user,
                main_user: main_user,
                pname: pname,
                send_data_batch: send_data_batch,
                send_data_time: send_data_time,
                pnums: pnums,
                data_source: data_source,
                scene: scene,
                send_reason: send_reason,
                key_frame_extracted_methods: key_frame_extracted_methods,
                ann_field_flag: ann_field,
                wb_name: wb_name,
                begin_check_data_time: begin_check_data_time,
                last_check_data_time: last_check_data_time,
                get_data_time: get_data_time,
                ann_meta_data: ann_meta_data
            },
        }).done(function (res) {
            if (res && res.status == "successful") {
                $("#btn-miss").click();
                $(".alert-danger").html("修改成功!");
                $(".alert-danger").addClass("show");
                $("#alert_div").css("background-color", 'rgb(21, 150, 90)');
                $("#alert_div").css("color", 'rgb(255, 255, 255)');
                window.setTimeout(function () {
                    $(".alert-danger").removeClass("show");
                }, 1000);//显示的时间

                let url = '/wballdata'
                table.reload('test', { url: url, page: { curr: 1 } });//重新从第 1 页开始
            }
            else {
                $("#err_msg").css("display", 'block');
                $("#err_msg").html(res.mes);

            }
        });
    })

    // insert
    function ginsert() {
        if ($('#search').css('display') == 'block') {
            $('#search').css("display", "none");
            $('#ginsert').css("display", "block");
        }
        document.getElementById("user_insert").value = $("#name").text();
        // 给项目名字 添加下拉框
        var p_s = document.getElementById('pname_insert');
        for (var i = 0; i < projects.length; i++) {
            if (p_s.length < projects.length+1) { // 这里不判断的话会一直添加
                if (projects[i] != p_s.value) {
                    var objOption = document.createElement("option");
                    objOption.value = projects[i];
                    objOption.text = projects[i];
                    p_s.add(objOption);
                };
            };
        };
        // 给数据来源添加下拉框
        var dsl_insert = document.getElementById("data_source_insert");
        for (var i = 0; i < data_source_list.length; i++){
            if (dsl_insert.length < data_source_list.length){
                if (data_source_list[i] != dsl_insert.value){
                    var objOption = document.createElement("option");
                    objOption.value = data_source_list[i];
                    objOption.text = data_source_list[i];
                    dsl_insert.add(objOption);
                }
            }
        }
        // 给是否是首次标注赋值
        var ann_field_sel = document.getElementById("ann_field");
        for (var i = 0; i < ann_field.length; i++){
            if (ann_field_sel.length < ann_field.length+1){
                if (ann_field[i] != ann_field_sel.value){
                    var objOption = document.createElement("option");
                    objOption.value = ann_field[i];
                    objOption.text = ann_field[i];
                    ann_field_sel.add(objOption);
                }
            }
        }
        // 给外包 添加下拉框
        var bzf_insert = document.getElementById("wb_name_insert");
        for (var i = 0; i < bzf.length; i++) {
            if (bzf_insert.length < bzf.length + 1) { // 这里不判断的话会一直添加
                if (bzf[i] != document.getElementById("wb_name_insert").value) {
                    var objOption = document.createElement("option");
                    objOption.value = bzf[i];
                    objOption.text = bzf[i];
                    bzf_insert.add(objOption);
                };
            };
        };
    };

    // 搜索
    function search() {
        if ($('#ginsert').css('display') == 'block') {
            $('#ginsert').css("display", "none");
            $('#search').css("display", "block");
        }
        $("#begin_time_search").val("2021-01-01")
        var now = new Date();
        var day = ('0' + now.getDate()).slice(-2);
        var month = ('0' + (now.getMonth() + 1)).slice(-2);
        var today = now.getFullYear() + '-' + (month) + '-' + (day);
        $("#last_time_search").val(today);
        // 给项目名字 添加下拉框
        var p_s = document.getElementById('pname_search');
        for (var i = 0; i < projects.length; i++) {
            if (p_s.length < projects.length + 1) { // 这里不判断的话会一直添加
                if (projects[i] != document.getElementById("pname_search").value) {
                    var objOption = document.createElement("option");
                    objOption.value = projects[i];
                    objOption.text = projects[i];
                    p_s.add(objOption);
                };
            };
        };
        // 给外包 添加下拉框
        var bzfdom = document.getElementById("bzf_search");
        for (var i = 0; i < bzf.length; i++) {
            if (bzfdom.length < bzf.length + 1) { // 这里不判断的话会一直添加
                if (bzf[i] != document.getElementById("bzf_search").value) {
                    var objOption = document.createElement("option");
                    objOption.value = bzf[i];
                    objOption.text = bzf[i];
                    bzfdom.add(objOption);
                };
            };
        };
    };

    // 侧边栏
    function showData(flag) {
        if (flag == 'wbdata_count') {
            window.location.href = '/wbdata_count';
        }
        else if(flag == 'cronjob'){
            if (sessionStorage.getItem("power") != '1'){
                warning_alert("您没有权限查看!");
            }
            else{
                window.location.href = "/cronjob";
            }
        }
    }

    function help() {
        $(".alert-danger").html("请联系卫龙!");
        $(".alert-danger").addClass("show");
        window.setTimeout(function () {
            $(".alert-danger").removeClass("show");
        }, 1000);//显示的时间
    };
    // 关于
    function info() {
        $('#ess_info').modal('show');
    }
    // setting
    if (sessionStorage.getItem("power") != '1'){
        $("#nav_setting").css('display', 'none')
    }
    else {
        $("#nav_setting").css('display', 'block')
    }
    function logout() {
        sessionStorage.setItem("isLogin", "");
        sessionStorage.setItem("zhuname", "");
        sessionStorage.setItem("power", "");
        window.location.href = '/login'
    }

    //头工具栏事件
    table.on('toolbar(test)', function(obj){
        if (obj.event == "export_btn"){
            if (is_search){
                $.ajax(is_search_url, {
                    method: "GET",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                }).done(function (res) {
                    if (res && res.message == "查询成功") {
                        warning_alert("正在导出数据中,请耐心等待!")
                        const source_data = res.source;
                        let export_data_list = []
                        const table_title = ["ID","研发","项目名字","送标批次","送标时间","送标样本数量","数据来源","场景分布","送标原因","关键帧抽取方式","开始验收时间","结束验收时间","标注结果返回时间","标注详情","总价","是否首次标注","外包名字"];
                        for (const idx in source_data) {
                            let tmp_list = [];
                            const data_idx = source_data[idx];
                            tmp_list.push(data_idx['id'])
                            tmp_list.push(data_idx['user'])
                            tmp_list.push(data_idx['pname'])
                            tmp_list.push(data_idx['send_data_batch'])
                            tmp_list.push(data_idx['send_data_time'])
                            tmp_list.push(data_idx['pnums'])
                            tmp_list.push(data_idx['data_source'])
                            tmp_list.push(data_idx['scene'])
                            tmp_list.push(data_idx['send_reason'])
                            tmp_list.push(data_idx['key_frame_extracted_methods'])
                            tmp_list.push(data_idx['begin_check_data_time'])
                            tmp_list.push(data_idx['last_check_data_time'])
                            tmp_list.push(data_idx['get_data_time'])
                            let anno = ""
                            if (data_idx['ann_meta_data'] != ""){
                                for (const idx in data_idx['ann_meta_data']) {
                                    if (data_idx['ann_meta_data'][idx] == ","){
                                        anno = anno + "&"
                                    }
                                    else{
                                        anno = anno + data_idx['ann_meta_data'][idx]
                                    }
                                }
                            }
                            else{
                                console.log('为空')
                            }
                            tmp_list.push(anno)
                            tmp_list.push(data_idx['total_money'])
                            tmp_list.push(data_idx['ann_field_flag'])
                            tmp_list.push(data_idx['wb_name'])
                            export_data_list.push(tmp_list)
                            
                        }
                        table.exportFile(table_title, export_data_list, 'xls');
                        // table.exportFile(ins1.config.id, source_data); 没有逗号的话可以直接用这个
                        warning_alert("导出完成!");
                    }
                });
            }
            else{
                $.ajax(is_search_url, {
                    method: "GET",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                }).done(function (res) {
                    if (res && res.msg == "查询成功") {
                        warning_alert("正在导出数据中,请耐心等待!")
                        const source_data = res.source;
                        let export_data_list = []
                        const table_title = ["ID","研发","项目名字","送标批次","送标时间","送标样本数量","数据来源","场景分布","送标原因","关键帧抽取方式","开始验收时间","结束验收时间","标注结果返回时间","标注详情","总价","是否首次标注","外包名字"];
                        for (const idx in source_data) {
                            let tmp_list = [];
                            const data_idx = source_data[idx];
                            tmp_list.push(data_idx['id'])
                            tmp_list.push(data_idx['user'])
                            tmp_list.push(data_idx['pname'])
                            tmp_list.push(data_idx['send_data_batch'])
                            tmp_list.push(data_idx['send_data_time'])
                            tmp_list.push(data_idx['pnums'])
                            tmp_list.push(data_idx['data_source'])
                            tmp_list.push(data_idx['scene'])
                            tmp_list.push(data_idx['send_reason'])
                            tmp_list.push(data_idx['key_frame_extracted_methods'])
                            tmp_list.push(data_idx['begin_check_data_time'])
                            tmp_list.push(data_idx['last_check_data_time'])
                            tmp_list.push(data_idx['get_data_time'])
                            let anno = ""
                            if (data_idx['ann_meta_data'] != ""){
                                for (const idx in data_idx['ann_meta_data']) {
                                    if (data_idx['ann_meta_data'][idx] == ","){
                                        anno = anno + "&"
                                    }
                                    else{
                                        anno = anno + data_idx['ann_meta_data'][idx]
                                    }
                                }
                            }
                            else{
                                console.log('为空')
                            }
                            tmp_list.push(anno)
                            tmp_list.push(data_idx['total_money'])
                            tmp_list.push(data_idx['ann_field_flag'])
                            tmp_list.push(data_idx['wb_name'])
                            export_data_list.push(tmp_list)
                            
                        }
                        table.exportFile(table_title, export_data_list, 'xls');
                        // table.exportFile(ins1.config.id, source_data); 没有逗号的话可以直接用这个
                        warning_alert("导出完成!");
                    }
                });
            }
        }
    });
</script>

</html>