<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" rel="external nofollow" href="/static/img/favicon.ico" />
    <link rel="stylesheet" href="/static/lib/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/lib/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/index1.css">
    <script src="/static/lib/jquery/2.1.4/jquery.min.js"></script>
    <script src="/static/lib/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="/static/lib/layui-v2.7.6/layui/css/layui.css" rel="stylesheet">
    <script src="/static/lib/layui-v2.7.6/layui/layui.js"></script>
    <title>外包数据</title>
    <style>
        h3 {
            text-align: center;
        }

        table {
            table-layout: fixed;
        }

        thead tr th {
            position: sticky;
            background-color: #fff;
            top: 0;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top" onselectstart="return false">
        <!--onselectstrat 禁止选中-->
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#my-nav"
                    aria-expanded="false">
                    <span class="sr-only">切换导航条</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- <a class="navbar-brand" style="cursor:default;"> -->
                <img src="/static/img/logo_ess.png" alt="ESS" draggable="false">
                <!-- </a> -->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="my-nav">
                <ul class="nav navbar-nav">
                    <li class="active" onclick="navswitch('index')"><a>首页</a></li>
                    <li class="active" onclick="navswitch('efficiency')"><a>标注效率</a></li>
                    <li class="active" onclick="navswitch('performance')"><a>个人绩效</a></li>
                    <li class="active"><a href="/waibao"
                            style="color: #fff; background-color: rgb(68, 147, 199);">外包数据</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li style="border-right: 1px solid #bdbdbd; margin-right: 20px; cursor: pointer;"><a
                            onclick="help()">
                            <i class="fa fa-hand-o-right" style="margin-right: 5px; font-size: 18px;"></i>
                            <span style="font-size: 18px;">Help</span></a>
                    </li>
                    <li role="presentation" class="dropdown" style="width: 139px;">
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            style="text-align: center;">
                            <i class="fa fa-user" style="margin-left: -30px; font-size: 18px;"></i>
                            <span style="font-size: 18px; margin-left: 5px;" id="name"></span><span class="caret"
                                style="margin-left: 10px;"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li style="border-bottom: 1px solid gray;"><a href="/sites/" target="black"><i
                                        class="fa fa-gear"></i><span style="margin-left: 10px;">设置</span></a></li>
                            <li style="border-bottom: 1px solid gray;"><a href="#" onclick="pwd_upd()"><i
                                        class="fa fa-compass"></i><span style="margin-left: 10px;">修改密码</span></a></li>
                            <li onclick="logout()"><a><i class="fa fa-sign-out"></i><span
                                        style="margin-left: 10px;">注销</span></a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div id="body-div">
        <div id="left" onselectstart="return false">
            <label onclick="ginsert()">
                <i class="fa fa-plus-square" aria-hidden="true"></i>
                <span>添加数据</span>
            </label>
            <label onclick="search()">
                <i class="fa fa-search" aria-hidden="true"></i>
                <span>搜索数据</span>
            </label>
            <label onclick="showData('wbdata_count')">
                <i class="fa fa-bar-chart" aria-hidden="true"></i>
                <span>图表展示</span>
            </label>
            <p>© gwt 2021.12.18</p>
        </div>
        <div id="right">
            <div id="toolbar" style="border-bottom: 1px solid gray; height: 100px;">
                <div class="alert alert-danger hide" id="alert_div"
                    style="width: 300px; position: fixed; top: 40%;left: 50%; right: 50%;z-index: 1; font-size: 22px;">
                </div> <!-- 警告弹出框 -->
                <!-- insert -->
                <div id="ginsert" style="display: none;">
                    <table class="table">
                        <tr>
                            <th>项目名字</th>
                            <th>发送数据时间</th>
                            <th>图片数量</th>
                            <th>标注框数量</th>
                            <th>结算方式</th>
                            <th>单价</th>
                            <th>外包名字</th>
                            <th>按钮</th>
                        </tr>
                        <tr>
                            <td><select class="form-control" name="pname" id="pname_insert"></select></td>
                            <td><input type="date" name="get_data_time" class="form-control" id="get_data_time_insert">
                            </td>
                            <td><input type="number" name="pnums" min="0" class="form-control" id="pnums_insert"></td>
                            <td><input type="number" name="knums" min="0" class="form-control" id="knums_insert"></td>
                            <td><input type="text" name="settlement_method" class="form-control"
                                    id="settlement_method_insert" placeholder="矩形框/多边形/3D框/筛选/线段"></td>
                            <td><input type="text" name="unit_price" class="form-control" id="unit_price_insert"></td>
                            <td><select class="form-control" name="wb_name" id="wb_name_insert"></select></td>
                            <td><button class="btn btn-primary" id="btn_insert"><i class="fa fa-plus-square"
                                        aria-hidden="true"></i> 添加</button></td>
                        </tr>
                    </table>
                </div>
                <!-- searcch -->
                <div id="search">
                    <table class="table">
                        <tr>
                            <th>项目名字</th>
                            <th>标注方</th>
                            <th>开始时间</th>
                            <th>结束时间</th>
                            <th>按钮</th>
                        </tr>
                        <tr>
                            <td>
                                <select class="form-control" name="pname" id="pname_search">
                                    <option value="---">---</option>
                                </select>
                            </td>
                            <td>
                                <select class="form-control" name="bzf" id="bzf_search">
                                    <option value="---">---</option>
                                </select>
                            </td>
                            <td><input type="date" name="begin_time" class="form-control" id="begin_time_search"></td>
                            <td><input type="date" name="last_time" class="form-control" id="last_time_search"></td>
                            <td>
                                <input type="reset" class="btn btn-default" id="reset" value="重置">
                                <input type="button" class="btn btn-primary" id="serch" value="查询">
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <!--工具栏(每行)-->
            <script type="text/html" id="barDemo">
                <a class="layui-btn layui-btn-xs" lay-event="edit"><i class="fa fa-pencil"></i> 编辑</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="fa fa-remove"></i> 删除</a>
            </script>
            <table class="layui-hide" id="test" lay-filter="test"></table>
            <!-- 弹窗之密码修改 -->
            <div class="modal fade" tabindex="-1" role="dialog" id="pwd_update">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h3 class="modal-title">修改密码</h3>
                        </div>
                        <div class="modal-body">
                            <form class='form-register' action="/pwd_update/" method="post">
                                {% csrf_token %}
                                <div class="alert alert-warning" id="err_msg" style="display: none;"></div>
                                <div class="form-group">
                                    <label for="recipient-name" class="control-label">用户名:</label>
                                    <input type="text" class="form-control zh_uname" name="uname" readonly="readonly">
                                </div>
                                <div class="form-group">
                                    <label for="recipient-name" class="control-label">请输入新密码:</label>
                                    <input type="password" class="form-control" name="new_pwd1" required>
                                </div>
                                <div class="form-group">
                                    <label for="message-text" class="control-label">再次输入新密码:</label>
                                    <input type="password" class="form-control" name="new_pwd2" required>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                    <button type="submit" class="btn btn-primary">确认</button>
                                </div>
                            </form>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        </div><!-- /.modal -->
    </div>
</body>
<script src="/static/js/disable.js"></script>
<script src="/static/js/click_yh.js"></script>
<script type="text/javascript">
    const projects = JSON.parse('{{ projects|safe }}'); // 项目名字 列表
    const bzf = JSON.parse('{{ bzf|safe }}'); // 外包列表
    search();
    const table = layui.table;
    //渲染表格
    table.render({//渲染table
        url: '/wballdata',     //数据获取url
        method: 'GET',         //数据传输方式为post
        elem: '#test',         //设置容器
        height: 'full-185',    //高度为屏幕高度-20
        page: true,
        request: {
            pageName: 'pageIndex',  // 页码的参数名称，默认：page
            limitName: 'pageSize'   // 每页数据量的参数名，默认：limit
        },
        response: {
            statusName: 'code',     // 规定数据状态的字段名称，默认：code
            statusCode: 0,          // 规定成功的状态码，默认：0
            msgName: 'msg',         // 规定状态信息的字段名称，默认：msg
            countName: 'count', // 规定数据总数的字段名称，默认：count
            dataName: 'data'        // 规定数据列表的字段名称，默认：data
        },
        page: {
            layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'],     // 自定义分页布局
            curr: 1,      // 设置默认起始页1
            groups: 3,   //只显示10个连续页码,就是说显示10个可见页其他的省略
            first: '首页', // 不显示首页
            last: '尾页'   // 不显示尾页
        },
        limit: 20,
        limits: [20, 50, 100],
        skin: 'row', //表格风格
        even: true,    //隔行换色
        cols: [[               //设置列标签、标题、宽度、是否排序等
            // {checkbox:true}, // 复选框
            { field: 'id', title: 'ID', fixed: left },
            { field: 'pname', title: '项目名字' },
            { field: 'get_data_time', title: '发送数据时间', },
            { field: 'pnums', title: '图片数量', },
            { field: 'knums', title: '标注框数量', },
            { field: 'settlement_method', title: '结算方式' },
            { field: 'unit_price', title: '单价', width: 100 },
            { field: 'wb_name', title: '外包名字', },
            { fixed: 'right', title: '操作', toolbar: '#barDemo' },//设置每行的工具栏以及其容器
        ]],
    });
    // 表格后台过滤
    $('#serch').click(function () {
        const pname_search = $("#pname_search option:selected").val();
        const bzf_search = $('#bzf_search option:selected').val();
        const begin_time_search = $("#begin_time_search").val();
        const last_time_search = $("#last_time_search").val();
        let url = '/wballdata?pname=' + pname_search + '&bzf=' + bzf_search + "&begin_time=" + begin_time_search + "&last_time=" + last_time_search
        table.reload('test', {
            url: url,
            page: {
                curr: 1 //重新从第 1 页开始
            }
        });
    });
    // 表格过滤重置
    $("#reset").click(function () {
        let url = '/wballdata'
        table.reload('test', {
            url: url,
            page: {
                curr: 1 //重新从第 1 页开始
            }
        });
        $('#pname_search').find('option:first').prop("selected", "selected");
        $('#bzf_search').find('option:first').prop("selected", "selected");
        $("#begin_time_search").val("");
        $("#last_time_search").val("");
    })
    // 操作栏-编辑/删除
    table.on('tool(test)', function (obj) { // 双击 toolDouble
        var data = obj.data;
        // console.log(obj.data)
        if (obj.event === 'del') {
            if (sessionStorage.getItem("power") != '1') {
                $(".alert-danger").html("您没有删除数据的权限，请联系管理员!");
                $(".alert-danger").addClass("show");
                window.setTimeout(function () {
                    $(".alert-danger").removeClass("show");
                }, 1000);//显示的时间
            } else {
                layer.confirm('真的删除行么', function (index) {
                    $.ajax("/wb_dtdel/", {
                        method: "GET",
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        data: {
                            n: $("#name").text(),
                            id: obj.data.id
                        },
                    }).done(function (res) {
                        if (res && res.data == "successful") {
                            let url = '/wballdata'
                            table.reload('test', { url: url, page: { curr: 1 } });//重新从第 1 页开始

                            $(".alert-danger").html("ID: " + obj.data.id + " 删除成功!");
                            $(".alert-danger").addClass("show");
                            window.setTimeout(function () {
                                $(".alert-danger").removeClass("show");
                            }, 1000);//显示的时间
                        } else {
                            $(".alert-danger").html("ID: " + obj.data.id + " 删除失败!");
                            $(".alert-danger").addClass("show");
                            window.setTimeout(function () {
                                $(".alert-danger").removeClass("show");
                            }, 1000);//显示的时间
                        }
                    });
                    layer.close(index);
                });
            }
        } else if (obj.event === 'edit') {// 数据修改
            document.location.href = "/wb_update?id=" + obj.data.id;
        }
    });
    // 添加数据
    $("#btn_insert").click(function () {
        const pname = $("#pname_insert option:selected").val();
        const get_data_time = $("#get_data_time_insert").val();
        const pnums = $("#pnums_insert").val();
        const knums = $("#knums_insert").val();
        const settlement_method = $("#settlement_method_insert").val();
        const unit_price = $("#unit_price_insert").val();
        const wb_name = $("#wb_name_insert option:selected").val();
        if (get_data_time == "") {
            $(".alert-danger").html("不允许有空值!");
            $(".alert-danger").addClass("show");
            window.setTimeout(function () {
                $(".alert-danger").removeClass("show");
            }, 1500);//显示的时间
        } else if (pnums == "") {
            $(".alert-danger").html("不允许有空值!");
            $(".alert-danger").addClass("show");
            window.setTimeout(function () {
                $(".alert-danger").removeClass("show");
            }, 1500);//显示的时间
        } else if (knums == "") {
            $(".alert-danger").html("不允许有空值!");
            $(".alert-danger").addClass("show");
            window.setTimeout(function () {
                $(".alert-danger").removeClass("show");
            }, 1500);//显示的时间
        } else if (settlement_method == "") {
            $(".alert-danger").html("不允许有空值!");
            $(".alert-danger").addClass("show");
            window.setTimeout(function () {
                $(".alert-danger").removeClass("show");
            }, 1500);//显示的时间
        } else if (unit_price == "") {
            $(".alert-danger").html("不允许有空值!");
            $(".alert-danger").addClass("show");
            window.setTimeout(function () {
                $(".alert-danger").removeClass("show");
            }, 1500);//显示的时间
        } else {
            $.ajax("/waiabo_data_insert/", {
                method: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: {
                    uname: $("#name").text(),
                    pname: pname,
                    get_data_time: get_data_time,
                    pnums: pnums,
                    knums: knums,
                    settlement_method: settlement_method,
                    unit_price: unit_price,
                    wb_name: wb_name
                },
            }).done(function (res) {
                if (res && res.data == "successful") {
                    $("#task_id_insert").val("");
                    $("#pnums_insert").val("");
                    $("#knums_insert").val("");
                    $("#ptimes_insert").val("");

                    let url = '/wballdata'
                    table.reload('test', { url: url, page: { curr: 1 } });//重新从第 1 页开始

                    $(".alert-danger").html("添加成功!");
                    $(".alert-danger").addClass("show");
                    $("#alert_div").css("background-color", 'rgb(21, 150, 90)');
                    $("#alert_div").css("color", 'rgb(255, 255, 255)');
                    window.setTimeout(function () {
                        $(".alert-danger").removeClass("show");
                    }, 1000);//显示的时间
                } else {
                    $(".alert-danger").html(res.data);
                    $(".alert-danger").addClass("show");
                    window.setTimeout(function () {
                        $(".alert-danger").removeClass("show");
                    }, 1500);//显示的时间
                }
            });
        }
    })
    function help() {
        alert('请联系卫龙');
    };

    function pwd_upd() {
        $('#pwd_update').modal('show');
        $(".zh_uname").val($("#name").text());
    };

    function logout() {
        sessionStorage.setItem("isLogin", "");
        sessionStorage.setItem("zhuname", "");
        sessionStorage.setItem("power", "");
        window.location.href = '/login'
    }

    // insert
    function ginsert() {
        if ($('#search').css('display') == 'block') {
            $('#search').css("display", "none");
            $('#ginsert').css("display", "block");
        }
        // 给项目名字 添加下拉框
        var p_s = document.getElementById('pname_insert');
        for (var i = 0; i < projects.length; i++) {
            if (p_s.length < projects.length) { // 这里不判断的话会一直添加
                if (projects[i] != document.getElementById("pname_insert").value) {
                    var objOption = document.createElement("option");
                    objOption.value = projects[i];
                    objOption.text = projects[i];
                    p_s.add(objOption);
                };
            };
        };
        // 给外包 添加下拉框
        var bzf_insert = document.getElementById("wb_name_insert");
        for (var i = 0; i < bzf.length; i++) {
            if (bzf_insert.length < bzf.length + 1) { // 这里不判断的话会一直添加
                if (bzf[i] != document.getElementById("wb_name_insert").value) {
                    var objOption = document.createElement("option");
                    objOption.value = bzf[i];
                    objOption.text = bzf[i];
                    bzf_insert.add(objOption);
                };
            };
        };
    };

    // 搜索
    function search() {
        if ($('#ginsert').css('display') == 'block') {
            $('#ginsert').css("display", "none");
            $('#search').css("display", "block");
        }
        // 给项目名字 添加下拉框
        var p_s = document.getElementById('pname_search');
        for (var i = 0; i < projects.length; i++) {
            if (p_s.length < projects.length + 1) { // 这里不判断的话会一直添加
                if (projects[i] != document.getElementById("pname_search").value) {
                    var objOption = document.createElement("option");
                    objOption.value = projects[i];
                    objOption.text = projects[i];
                    p_s.add(objOption);
                };
            };
        };
        // 给外包 添加下拉框
        var bzfdom = document.getElementById("bzf_search");
        for (var i = 0; i < bzf.length; i++) {
            if (bzfdom.length < bzf.length + 1) { // 这里不判断的话会一直添加
                if (bzf[i] != document.getElementById("bzf_search").value) {
                    var objOption = document.createElement("option");
                    objOption.value = bzf[i];
                    objOption.text = bzf[i];
                    bzfdom.add(objOption);
                };
            };
        };
    };

    // 侧边栏
    function showData(flag) {
        if (flag == 'wbdata_count') {
            window.location.href = '/wbdata_count';
        }
    }

    // 导航栏
    function navswitch(flag) {
        if (sessionStorage.getItem("power") == '3') {
            alert("您没有权限查看!");
        } else {
            window.location.href = '/' + flag;
        }
    }
</script>

</html>