<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" rel="external nofollow" href="/static/img/favicon.ico" />
    <link rel="stylesheet" href="/static/lib/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/lib/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/index1.css">
    <script src="/static/lib/jquery/2.1.4/jquery.min.js"></script>
    <script src="/static/lib/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="/static/lib/echarts/5.4.1/dist/echarts.min.js"></script>
    <title>供应商各项目数据统计</title>
    <style>
        h3 {
            text-align: center;
        }
        .form-group {
            margin-left: 60px !important;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top" onselectstart="return false">
        <!--onselectstrat 禁止选中-->
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#my-nav"
                    aria-expanded="false">
                    <span class="sr-only">切换导航条</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- <a class="navbar-brand" style="cursor:default;"> -->
                <img src="/static/img/logo_ess.png" alt="ESS" draggable="false">
                <!-- </a> -->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="my-nav">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/index">首页</a>
                    </li>
                    <li class="active">
                        <a href="/waibao" style="color: #fff; background-color: rgb(68, 147, 199);">外包数据</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li style="border-right: 1px solid #bdbdbd; margin-right: 20px; cursor: pointer;"><a
                            onclick="help()">
                            <i class="fa fa-hand-o-right" style="margin-right: 5px; font-size: 18px;"></i>
                            <span style="font-size: 18px;">Help</span></a>
                    </li>
                    <li role="presentation" class="dropdown" style="width: 139px;">
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            style="text-align: center;">
                            <i class="fa fa-user" style="margin-left: -30px; font-size: 18px;"></i>
                            <span style="font-size: 18px; margin-left: 5px;" id="name"></span><span class="caret"
                                style="margin-left: 10px;"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li style="border-bottom: 1px solid gray;" id="nav_setting">
                                <a href="/sites/" target="black">
                                    <i class="fa fa-gear"></i>
                                    <span style="margin-left: 10px;">设置</span>
                                </a>
                            </li>
                            <li style="border-bottom: 1px solid gray;" onclick="info()">
                                <a>
                                    <i class="fa fa-info-circle"></i>
                                    <span style="margin-left: 10px;">关于</span>
                                </a>
                            </li>
                            <li onclick="logout()"><a><i class="fa fa-sign-out"></i><span
                                        style="margin-left: 10px;">注销</span></a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="alert alert-danger hide" id="alert_div"
        style="width: 300px; position: fixed; top: 40%;left: 42.5%; right: 50%;z-index: 1; font-size: 22px;">
    </div> <!-- 警告弹出框 -->
    <!-- 图表start -->
    <div style="width: 100%; height: 94.7%; position: absolute; top: 50px; overflow-y: auto; overflow-x: hidden;">
        <div id="search_div" style="border-bottom: 1px dashed gray; color: #fff; margin-top: 2px; display: flex; justify-content: center; background-color: rgb(16, 12, 42);">
            <form action="/wbdata_count/" method="post" onsubmit="return pie_line_search()" style="margin: 10px 0;">
                {% csrf_token %}
                <label for="wb_name_search" style="margin: auto 5px; padding: 6px 0 0 10px; float: left;">供应商</label>
                <select class="form-control" name="wb_name_search" id="wb_name_search" style="width: 100px; border-radius: 5px; float: left;">
                    <option value="---">---</option>
                    {% for wb in wb_name_list %}
                    <option value="{{ wb }}">{{ wb }}</option>
                    {% endfor %}
                </select>
                <label for="start_time_search" style="margin: auto 5px;  padding: 6px 0 0 10px; float: left;">开始时间</label>
                <input type="date" class="form-control" name="start_time_search" id="start_time_search" style="width: 230px; border-radius: 5px; float: left;" value="{{ start_time }}">
                <label for="start_time_search" style="margin: auto 5px;  padding: 6px 0 0 10px; float: left;">结束时间</label>
                <input type="date" class="form-control" name="end_time_search" id="end_time_search" style="width: 230px; border-radius: 5px; float: left; margin-right: 50px;" value="{{ end_time }}">
                <button class="btn btn-primary" type="submit" style="width: 80px; border-radius: 5px; float: left;"><i class="fa fa-search" aria-hidden="true" style="margin-right: 5px;"></i>查询</button>
            </form>
        </div>
        <div id="chart_pnums" style="width: 50%; height: 50%; float: left; border-right: 1px dashed gray;"></div>
        <div id="chart_knums" style="width: 50%; height: 50%; float: left;"></div>
        <div id="char_money" style="width: 100%; height: 50%; float: left; border-top: 1px dashed gray;"></div>
        {% for i in proname %}
        <div id="{{ i }}" style="width: 100%; height: 50%; float: left; border-top: 1px dashed gray;"></div>
        {% endfor %}
    </div>
    <!-- 图表end -->
    <!-- 弹窗之ESS-Info -->
    <div class="modal fade" tabindex="-1" role="dialog" id="ess_info">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" style="color: rgb(68, 147, 199);">
                        <i class="fa fa-info-circle"></i> ESS-INFO
                    </h3>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <p>
                            ESS 是一款统计性的功能平台<br>
                            主要有记录个人平时的工作内容，工作量，工作效率，绩效等<br>
                            也可以统计给供应商发送的数据量，各供应商在每个项目上所用的费用等
                        </p>
                    </div>
                    <div class="form-group">
                        <p>
                            <span class="ant-typography"><strong>Font-Awesome version:</strong></span>
                            <span class="ant-typography ant-typography-secondary"> 4.7.0</span>
                        </p>
                    </div>
                    <div class="form-group">
                        <p>
                            <span class="ant-typography"><strong>Echarts version:</strong></span>
                            <span class="ant-typography ant-typography-secondary"> 5.4.1</span>
                        </p>
                    </div>
                    <div class="form-group">
                        <p>
                            <span class="ant-typography"><strong>Pyecharts version:</strong></span>
                            <span class="ant-typography ant-typography-secondary"> 2.0.1</span>
                        </p>
                    </div>
                    <div class="form-group">
                        <p>
                            <span class="ant-typography"><strong>Bootstrap version:</strong></span>
                            <span class="ant-typography ant-typography-secondary"> 3.4.1</span>
                        </p>
                    </div>
                    <div class="form-group">
                        <p>
                            <span class="ant-typography"><strong>jQuery version:</strong></span>
                            <span class="ant-typography ant-typography-secondary"> 2.1.4</span>
                        </p>
                    </div>
                    <div class="form-group">
                        <p>
                            <span class="ant-typography"><strong>Layui version:</strong></span>
                            <span class="ant-typography ant-typography-secondary"> 2.7.6</span>
                        </p>
                    </div>
                    <div class="form-group">
                        <p>
                            <span class="ant-typography"><strong>Django version:</strong></span>
                            <span class="ant-typography ant-typography-secondary"> 3.2.14</span>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <a href="https://github.com/gwt805/myess/tree/master" target="_blank"
                            style="position: absolute; left: 20px;"><i
                                class="fa fa-github-square fa-2x" style="color: black;"></i></a>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                            style="color: blue;">
                            <span aria-hidden="true">OK</span>
                        </button>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</body>
<script src="/static/js/disable.js"></script>
<script src="/static/js/click_yh.js"></script>
<script type="text/javascript">
    const pname = JSON.parse('{{ proname_json|safe }}');
    const chart_pie = JSON.parse('{{ chart_pie|safe }}');
    const chart_line = JSON.parse('{{ chart_line|safe }}');
    const money_total = JSON.parse('{{ money_total|safe }}');

    const wb_name_selc = JSON.parse('{{ wb_selc|safe }}');
    const time_start = JSON.parse('{{ time_start|safe }}');
    const time_end = JSON.parse('{{ time_end|safe }}');
    
    // 对查询的数据做渲染
    $("#wb_name_search").val(wb_name_selc);
    $("#start_time_search").val(time_start);
    $("#end_time_search").val(time_end);

    // 饼图
    const chart_list = [echarts.init(document.getElementById("chart_pnums"), 'dark'), echarts.init(document.getElementById("chart_knums"), 'dark'), echarts.init(document.getElementById("char_money"), 'dark')]
    const chart_pie_info = ["总样本数", '总标注数', "已用金额"]
    for (let pie = 0; pie < chart_pie.length; pie++) {
        if (pie ==2) text = time_start + ' ~ '+ time_end + ' 各项目' + chart_pie_info[pie] + '情况(总金额: ' + money_total + ' 元)';
        else text = time_start + ' ~ '+ time_end + ' 各项目' + chart_pie_info[pie] + '情况';
        const option = {
            title: {
                text: text, // 一级标题
                // subtext: 'Fake Data', // 二级标题
                left: 'center' // 标题居中显示
            },
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            toolbox: {
                show: true,
                feature: {
                    mark: { show: true },
                    dataView: { show: true, readOnly: false, lang: ['数据视图', '关闭', '刷新'] },
                    restore: { show: true },
                    saveAsImage: { show: true }
                }
            },
            series: [
                {
                    name: '项目名字 - 框数/金额 - 占比',
                    type: 'pie',
                    radius: '50%',
                    label: {
                        normal: {
                            show: true,
                            formatter: '{b}: {c}({d}%)'
                        },
                        textStyle: {
                            fontWeight: 'normal',
                            fontSize: 15
                        }, labelLine: { show: true }
                    },
                    data: chart_pie[pie],
                    emphasis: {
                        itemStyle: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }
            ]
        }
        chart_list[pie].setOption(option);
    }
    // 饼图end

    // 折线图 start
    for (let line = 0; line < chart_line.length; line++) {
        var dom = document.getElementById(pname[line]);
        var chart_lines = echarts.init(dom, 'dark');
        var option = {
            title: {
                text: pname[line] + ' 框数,金额 走势图'
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data: ['标注数', '金额', '样本数']
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '12%',
                containLabel: true
            },
            dataZoom: [
                {
                    show: true,
                    realtime: true,
                    start: 0,
                    end: 100,
                    xAxisIndex: [0, 1]
                }
            ],
            toolbox: {
                show: true,
                feature: {
                    dataZoom: {
                        yAxisIndex: 'none'
                    },
                    dataView: { readOnly: false, lang: ['数据视图', '关闭', '刷新'] },
                    magicType: { type: ['line', 'bar'] },
                    restore: {},
                    saveAsImage: {}
                }
            },
            xAxis: {
                type: 'category',
                boundaryGap: false,
                data: chart_line[line][0]
            },
            yAxis: {
                type: 'value'
            },
            series: [
                {
                    name: '标注数',
                    type: 'line',
                    smooth: true,
                    markPoint: {
                        data: [
                            {
                                type: 'max',
                                name: '最大值',
                            },
                            // {
                            //     type: 'min',
                            //     name: '最小值',
                            // }
                        ]
                    },
                    data: chart_line[line][1],
                    // lineStyle: {color: 'yellow'} // 可以设置折线的颜色
                },
                {
                    name: '金额',
                    type: 'line',
                    smooth: true,
                    markPoint: {
                        data: [
                            {
                                type: 'max',
                                name: '最大值',
                            },
                            // {
                            //     type: 'min',
                            //     name: '最小值',
                            // }
                        ]
                    },
                    data: chart_line[line][2]
                },
                {
                    name: '样本数',
                    type: 'line',
                    stack: 'Total',
                    smooth: true,
                    markPoint: {
                        data: [
                            {
                                type: 'max',
                                name: '最大值',
                            },
                            // {
                            //     type: 'min',
                            //     name: '最小值',
                            // }
                        ]
                    },
                    data: chart_line[line][3],
                    // lineStyle: {color: 'yellow'} // 可以设置折线的颜色
                }
            ]
        };
        chart_lines.setOption(option);
    }
    // 折线图 end

    // echarts resize
    window.onresize = function(){
        for (let pie = 0; pie < chart_pie.length; pie++) {
            chart_list[pie].resize();
        }
        for (let line = 0; line < chart_line.length; line++) {
            var dom = document.getElementById(pname[line]);
            var chart_lines = echarts.init(dom, 'dark');
            chart_lines.resize();
        }
    }

    // 查询
    function pie_line_search(){
        const wb_name = $('#wb_name_search option:selected').val();
        const start_time = $("#start_time_search").val();
        const end_time = $("#end_time_search").val();
        if (wb_name != "---" && start_time != "" && end_time == ""){
            $(".alert-danger").html("开始和结束时间需同时填写");
            $("#alert_div").css("background-color", 'rgb(242, 222, 222)');
            $("#alert_div").css("color", 'rgb(169, 68,66)');
            $(".alert-danger").addClass("show");
            window.setTimeout(function () {
                $(".alert-danger").removeClass("show");
            }, 1000);//显示的时间
            return false;
        }
        else if (wb_name != "---" && start_time == "" && end_time != ""){
            $(".alert-danger").html("开始和结束时间需同时填写");
            $("#alert_div").css("background-color", 'rgb(242, 222, 222)');
            $("#alert_div").css("color", 'rgb(169, 68,66)');
            $(".alert-danger").addClass("show");
            window.setTimeout(function () {
                $(".alert-danger").removeClass("show");
            }, 1000);//显示的时间
            return false;
        }
        else if (wb_name == "---" && start_time == "" && end_time == ""){
            return true;
        }
        else if (wb_name == "---" && start_time != "" && end_time == ""){
            $(".alert-danger").html("开始和结束时间需同时填写");
            $("#alert_div").css("background-color", 'rgb(242, 222, 222)');
            $("#alert_div").css("color", 'rgb(169, 68,66)');
            $(".alert-danger").addClass("show");
            window.setTimeout(function () {
                $(".alert-danger").removeClass("show");
            }, 1000);//显示的时间
            return false;
        }
        else if (wb_name == "---" && start_time == "" && end_time != ""){
            $(".alert-danger").html("开始和结束时间需同时填写");
            $("#alert_div").css("background-color", 'rgb(242, 222, 222)');
            $("#alert_div").css("color", 'rgb(169, 68,66)');
            $(".alert-danger").addClass("show");
            window.setTimeout(function () {
                $(".alert-danger").removeClass("show");
            }, 1000);//显示的时间
            return false;
        }
    }

    function help() {
        $(".alert-danger").html("请联系卫龙!");
        $(".alert-danger").addClass("show");
        window.setTimeout(function () {
            $(".alert-danger").removeClass("show");
        }, 1000);//显示的时间
    };
    // setting
    if (sessionStorage.getItem("power") != '1'){
        $("#nav_setting").css('display', 'none')
    }
    else {
        $("#nav_setting").css('display', 'block')
    }
    // 关于
    function info() {
        $('#ess_info').modal('show');
    }
    function logout() {
        sessionStorage.setItem("isLogin", "");
        sessionStorage.setItem("zhuname", "");
        sessionStorage.setItem("power", "");
        window.location.href = '/login'
    }

</script>

</html>