{% extends 'login/base.html' %}
{% block title %}添加数据{% endblock %}

{% block content %}
            <!-- <h1>你好,{{ request.session.user_name }}一个任务一添加</h1> -->
    <h3>一个任务一条记录</h3>
    <form class='form-register' action="" method="post">
    {% if message %}
    <div class="alert alert-warning">{{ message }}</div>
    {% endif %}
        {% csrf_token %}
        <table class="table">
        <tr>
            <th>用户名</th>
            <th>项目名字</th>
        </tr>
        <tr>
            <td>
                <select class="form-control" name="uname">
                    <option value ="---">---</option>
                    <option value ="guoweitao">guoweitao</option>
                    <option value ="hanbo">hanbo</option>
                    <option value="zhangyongjiao">zhangyongjiao</option>
                    <option value="gaobo">gaobo</option>
                </select>
            </td>
            <td>
                <select class="form-control" name="pname">
                    <option value ="---">---</option>
                    <option value ="杂物">杂物</option>
                    <option value ="脏污">脏污</option>
                    <option value="行人扶梯一米栏">行人扶梯一米栏</option>
                    <option value="红绿灯">红绿灯</option>
                    <option value="S线数据">S线数据</option>
                    <option value="室内可通行">室内可通行</option>
                    <option value="75车库车辆行人">75车库车辆行人</option>
                    <option value="111室外车辆行人">111室外车辆行人</option>
                </select>
            </td>
        </tr>
        <tr>
            <th>是否外包</th>
            <th>任务ID</th>
        </tr>
        <tr>
            <td>
                <select class="form-control" name="waibao">
                    <option value ="---">---</option>
                    <option value ="否">否</option>
                    <option value ="是">是</option>
                </select>
            </td>
            <td><input type="text" name="task_id" class="form-control"></td>
        </tr>
        <tr>
            <th>日期</th>
            <th>任务类型</th>
        </tr>
        <tr>
            <td><input type="date" name="dtime" class="form-control"></td>
            <td>
                <select class="form-control" name="kinds">
                    <option value ="---">---</option>
                    <option value ="标注">标注</option>
                    <option value ="审核">审核</option>
                    <option value="其他">其他</option>
                </select>
            </td>
        </tr>
        <tr>
            <th>图片数量</th>
            <th>框数</th>
        </tr>
        <tr>
            <td><input type="text" name="pnums" class="form-control"></td>
            <td><input type="text" name="knums" class="form-control"></td>
        </tr>
        <tr>
            <th>其他事项</th>
            <th>工时</th>
        </tr>
        <tr>
            <td><input type="text" name="telse" class="form-control"></td>
            <td><input type="text" name="ptimes" class="form-control"></td>
        </tr>
        </table>
        <tr>
            <td><input type="reset" class="btn btn-default pull-left" value="重置"></td>
            <td><input type="submit" class="btn btn-primary pull-right" value="提交"></td>
        </tr>
    </form>
{% endblock %}