{% extends 'login/base.html' %}
{% block title %}外包各项目数据统计{% endblock %}

{% block navbar %}
    {% if request.session.is_login %}
        <ul class="nav navbar-nav">
            <li class="active"><a href="/index?name={{ request.session.user_name }}">首页</a></li>
            <li class="active"><a href="/waibao/">外包数据</a></li>
        </ul>
    {% endif %}
{% endblock %}
{% block content %}
    {% if request.session.is_login %}
        <div id="search" style="background-color: #bdbdbd; margin-top: -20px;">
            <form class='form-register' action="/wbdata_count/" method="post">
                {% csrf_token %}
                <table class="table">
                    <tr>
                        <th>开始时间</th>
                        <th>结束时间</th>
                        <th colspan="2" style="text-align: center;">按钮</th>
                    </tr>
                    <tr>
                        <td><input type="date" name="btime" id="btime" class="form-control" value="{{ btime }}"></td>
                        <td><input type="date" name="otime" id="otime" class="form-control" value="{{ otime }}"></td>
                        <td><input type="reset" class="btn btn-default pull-left" value="重置"></td>
                        <td><input type="submit" class="btn btn-primary pull-right" value="查看"></td>
                    </tr>
                </table>
            </form>
        </div>
        <div id="show_bg" style="position: fixed; width: 100%; height: 80%; overflow-y: scroll; background-color: #bdbdbd; margin-top: -20px; display: none;">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>项目名字</th>
                        <th>图片数量</th>
                        <th>框数</th>
                        <th>金额</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in tj %} <!-- 本周工作量 -->
                        <tr>
                            <td>{{ i.0 }}</td>
                            <td>{{ i.1 }}</td>
                            <td>{{ i.2 }}</td>
                            <td>{{ i.3 }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div id="main" style="position: fixed; width: 100%; height:80%; margin-top: -20px; background-color: #bdbdbd;"></div>
        <!-- 切换按钮 -->
        <div style="width: 100%; height: 4.5%; position: fixed; bottom: 0px; background-color: #bdbdbd;">
            <button onclick="show_bg()" class="btn btn-default pull-left" style="margin-left: 30%; margin-top: 0.2%;">表格展示</button>
            <button onclick="show_pt()" class="btn btn-default pull-left" style="margin-left: 30%; margin-top: 0.2%;">图形展示</button>
        </div>
    {% else %}
        <h3>你尚未登录,请先登录！</h3>
    {% endif %}
    <script type="text/javascript">
        var pname = JSON.parse('{{ pname_list_json|safe }}'); // 项目名字 列表
        var pnums = JSON.parse('{{ pnums_list_json|safe }}'); // 项目名字 列表
        var knums = JSON.parse('{{ knums_list_json|safe }}'); // 项目名字 列表
        var money = JSON.parse('{{ money_list_json|safe }}'); // 项目名字 列表
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));
        // 指定图表的配置项和数据
        var option = {
            title: {text: '各项目外包数据统计图'},
            tooltip: {},
            legend: {
                data:['图片数量','框数','金额'],
                right:'10%'
            },
        xAxis: {
            data: pname,
            axisLabel: { //X轴文字控制
                        interval: 0,
                        rotate:-30  //倾斜的程度
                    },
        },
        grid: { // 画布位置
            left:'5%',
            right:'5%',
            bottom:'10%'
        },
        yAxis: {},
        series: [
                    {
                        name: '图片数量',
                        type: 'bar',
                        stack:'图片数',
                        data: pnums,
                        itemStyle:{
                            normal:{
                                label:{
                                    show:true, //开启显示
                                    position:'top', //在上方显示
                                    textStyle:{ //数值样式
                                        color:'black',
                                        fontSize:12
                                    }
                                }
                            }
                        },
                    },
                    {
                        name: '框数',
                        type: 'bar',
                        stack:'框数',
                        data: knums,
                        itemStyle:{
                            normal:{
                                label:{
                                    show:true, //开启显示
                                    position:'top', //在上方显示
                                    textStyle:{ //数值样式
                                        color:'black',
                                        fontSize:12
                                    }
                                }
                            }
                        },
                    },
                    {
                        name: '金额',
                        type: 'bar',
                        stack:'金额',
                        data: money,
                        itemStyle:{
                            normal:{
                                label:{
                                    show:true, //开启显示
                                    position:'top', //在上方显示
                                    textStyle:{ //数值样式
                                        color:'black',
                                        fontSize:12
                                    }
                                }
                            }
                        },
                    },
            ]
        };
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
        // 表格和图形按钮显示操作
        function show_bg(){
            if ($('#main').css('display') == 'block'){
                $('#main').css("display","none");
                $('#show_bg').css("display","block");
            };
        };

        function show_pt(){
            if ($('#show_bg').css('display') == 'block'){
                $('#show_bg').css("display","none");
                $('#main').css("display","block");
                
            };
        };
    </script>
{% endblock %}